.btn_primary{
    background: linear-gradient(161.96deg, #FFF8E1 17.19%, #FFDE1C 92.79%);
    border: 2px solid rgba(177, 68, 10, 1);
    box-shadow: 0px 4px 0px 0px rgba(177, 68, 10, 1);
    padding: 10px 24px;
    color: rgba(35, 35, 37, 1);
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(161.96deg, #FFF8E1 17.19%, #FFDE1C 92.79%);
    border: 2px solid rgba(177, 68, 10, 1);
    box-shadow: 0px 4px 0px 0px rgba(177, 68, 10, 1);
    svg use{ fill: #232325; }
}

.textBanner__x1{
    inset-inline-start: -84px;
    top: -48px;
    @media (max-width:600px) {
        inset-inline-start: -50px;
        top: -18px;
    }
}

.textBanner__x2{
    inset-inline-end: -86px;
    top: -46px;
    @media (max-width:600px) {
        inset-inline-end: -42px;
        top: -16px;
    }
}

.textBanner__money2{
    inset-inline-end: 11px;
    top: -80px;
    @media (max-width:992.98px) {
        inset-inline-end: -9px;
        top: -86px;
    }
    @media (max-width:600px) {
        inset-inline-end: 2px;
        top: -50px;
    }
}