.mission {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    @media (max-width:#{$md3}px) {
        grid-template-columns: 1fr;
    }
    &__col {
        display: flex;
        align-items: center;
        gap: 32px;
        border-radius: 8px;
        padding: 16px 32px;
        overflow: hidden;
        &_1{
            background: linear-gradient(92.25deg, #FFAC00 0.01%, #FF7E00 100.01%);
        }
        &_2{
            background: linear-gradient(92.25deg, #FF7E00 0.01%, #FFAC00 100.01%);
        }
        @media (((max-width:1050px) and (min-width:#{$md3}px)) or (max-width:530px)) {
            flex-direction: column;
            justify-content: center;
            gap: 16px;
        }
    }
    &__textContainer{
        @media (((max-width:1050px) and (min-width:#{$md3}px)) or (max-width:530px)) {
            text-align: center;
        }
    }
    &__lt{
        margin-top: 5px;
        font-weight: 700;
    }
    &__t {
        font-family: "Arial";
        font-weight: 900;
        text-transform: uppercase;
        border: 2px solid rgba(255, 255, 255, 1);
        padding: 2px 8px;
        border-radius: 99px;
        display: inline-block;
        font-size: 24px;
        line-height: 120%;
        white-space: nowrap;
        &_1 {
            font-size: 30px;
            transform: rotate(-2deg);
        }
        &_3 {
            transform: rotate(-8deg);
            margin-bottom: -6px;
        }
        &_4 {
            transform: rotate(-3deg);
            background-color: rgba(35, 35, 37, 1);
        }
    }
    &__img2{
        position: sticky;
        margin-bottom: -62px;
    }
}