.casinoInfo{
    border-radius: var(--br-large);
    &__body{
        border-radius: var(--br-large);
        padding: 32px;
        background: linear-gradient(85.83deg, #38A8FA 1.14%, #0167CA 100%);
        .link-3{
            background: var(--color-opposite);
            color: var(--color-bg);
        }
        @media (max-width:#{$md3}px) {
            padding: 16px;
        }
        @media (max-width:615px) {
            .link-3{
                flex: 0 0 100%;
                justify-content: center;
            }
        }
    }
    &__links{
        @media (max-width:615px) {
            flex-direction: column; 
        }
    }
}