.netent{
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    @media (max-width:#{$md3}px) {
        grid-template-columns: 1fr;
    }
    &__col{
        border-radius: var(--br-small);
        background-color: var(--color-light);
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        position: relative;
        overflow: hidden;
        @media ((max-width:#{$md2}px) and (min-width:#{$md3}px)) or (max-width:535px) {
            flex-direction: column;
            justify-content: center;
        }
        &_1{
            @media ((max-width:#{$md2}px) and (min-width:#{$md3}px)) or (max-width:535px) {
                gap: 32px;
            }
        }
    }
    &__man{
        display: flex;
        align-items: flex-end;
        img{
            transform: scaleX(-1);
            margin-left: -25px;
        }
    }
    &__bigNumber{
        font-size: 56px;
        line-height: 120%;
        font-weight: 700;
        padding: 0 16px;
        border: 4px solid #fff;
        border-radius: 16px;
        transform: rotate(-5deg) translateY(-4px);
    }
    &__logo{
        img{
            margin-bottom: 10px;
        }
    }
    &__text{
        font-weight: 700;
    }
    &__year{
        transform: rotate(-5deg);
        margin-top: -80px;
        margin-bottom: -80px;
        position: relative;
    }
    &__label{
        letter-spacing: 20px;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__hugeNumber{
        font-size: 220px;
        color: rgba(255, 255, 255, 0.1);
        line-height: 120%;
        font-weight: 700;
        position: relative;
        z-index: 1;
    }
}