.turbo-games{
    background-color: #fff;
    display: grid;
    align-items: center;
    padding: 16px;
    gap: 32px;
    grid-template-columns: auto 1fr 1fr 1fr;
    img{
        max-width: 100%;
        height: auto;
    }
    @media (max-width:#{$md2}px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:500px) {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    &__item{
        padding: 16px;
        border: 2px solid rgba(0, 0, 0, 1);
        box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
        color: #000;
        p{
            font-weight: 700;
        }
    }
}