.collaboration{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    @media (max-width:#{$md3}px) {
        grid-template-columns: 1fr;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        .card-1{
            flex: 1 0 45%;
            height: 70px;
            position: relative;
            img{
                max-width: 100%;
            }
            &__factor{
                position: absolute;
                top: -8px;
                inset-inline-end: 4px;
            }
        }
        .tooltip_top:nth-child(odd){
            .tooltip__body{
                inset-inline-start: 0;
                inset-inline-end: auto;
            }
        }
        &_3col{
            .card-1{
                flex: 1 0 30%;
            }
        }
        &_4col{
            .card-1{
                flex: 1 0 22%;
                @media (max-width:#{$md2}px) {
                    flex: 1 0 45%;
                }
            }
        }
    }
}

.collaborationBanner{
    border-radius: 8px;
    overflow: hidden;
    padding: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__text{
        position: relative;
        z-index: 2;
        max-width: 288px;
    }
}