.collaboration{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    @media (max-width:#{$md3}px) {
        grid-template-columns: 1fr;
    }
}

.collaborationBanner{
    border-radius: 8px;
    padding: 16px 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-light);
    @media (max-width:#{$md4}px) {
        padding: 16px;
    }
    &__text{
        position: relative;
        z-index: 2;
        &_2{
            font-size: 24px;
            line-height: 120%;
            font-weight: 900;
            max-width: 73%;
            @media (max-width:#{$md3}px) {
                font-size: 18px;
            }
        }
    }
    &__image{
        position: absolute;
        top: -32px;
        inset-inline-end: 16%;
        width: 123px;
        height: 100px;
        @media ((max-width:950px) and (min-width:#{$md3}px)) or (max-width:500px){
            inset-inline-end: 7%;
        }
    }
    &__image2{
        position: absolute;
        top: -77px;
        inset-inline-end: -1%;
        width: 210px;
        transform: rotate(15deg);
        @media (max-width:#{$md4}px) {
            transform: scale(0.8) rotate(15deg);
            inset-inline-end: -7%;
        }
    }
}