// ВНИМАНИЕ!!! Это файл подгружается ajax-ом через 11 сек.

.baners {
    display: none;
    z-index: 33;
    position: fixed;
    bottom: 16px;
    inset-inline-start: 16px;
    padding: 16px;
    background-color: var(--color-bg);
    box-shadow: var(--shadow);
    border-radius: 32px;
    &__body{
        width: 320px;
        height: 320px;
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        position: relative;
    }
    &__slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        height: 100%;
        transform: translateX(0%);
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__timelane{
        position: absolute;
        display: flex;
        top: 16px;
        inset-inline-start: 16px;
        inset-inline-end: 16px;
        z-index: 3;
        gap: 4px;
    }
    &__progressBar{
        border-radius: 99px;
        display: inline-block;
        height: 4px;
        background-color: var(--color-gray);
        flex: 1;
        position: relative;
        overflow: hidden;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            inset-inline-start: 0;
            width: 0%;
            height: 100%;
            background-color: var(--color-opposite);
        }
        &.active{
            &:after{
                width: 100%;
            }
        }
        &.animate{
            &:after{
                transition: width 5s linear;
                width: 100%;
            }
        }
    }
    &.active{
        display: block;
    }
    .btn-round{
        html[dir="rtl"] & {
            transform: rotate(180deg);
        }
    }
}