$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

.stake{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    @media (max-width:#{$md3}px) {
        grid-template-columns: 1fr;
    }
    &__textLeft{
        padding: 32px 0 32px 32px;
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            margin-bottom: 16px;
            height: 48px;
            width: auto;
        }
        @media (max-width:#{$md3}px) {
            padding: 16px 0 16px 16px;
        }
    }
    &__textGreen{
        color: #00D45C;
    }
    &__content{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
        width: 100%;
        background-color: var(--color-light);
        border-radius: var(--br-small);
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
        text-transform: uppercase;
        overflow: hidden;
    }
    &__imgBg{
        position: relative;
        height: 100%;
        flex: 1;
        display: flex;
        margin-inline-start: -60px;
        justify-content: flex-end;
        img{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            object-position: left;
            max-width: 100%;
            width: auto;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__line{
        background-color: var(--color-light);
        border-radius: var(--br-small);
        padding: 16px;
        display: flex;
        align-items: center;
        flex: 1;
        gap: 16px;
        @media (max-width:#{$md4}px) {
            flex-wrap: wrap;
        }
        > * {
            flex: 1;
        }
    }
    &__divider{
        width: 1px;
        height: 100%;
        background: rgba(255, 255, 255, 0.15);
        flex: 0 0 1px;
    }
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100%;
            height: auto;
        }
        @media (max-width:#{$md4}px) {
            width: 100%;
        }
    }
    &__text{
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 120%;
    }
    &__small{
        font-size: 10px;
        line-height: 120%;
    }
}