$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

.collaboration{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    @media (max-width:#{$md3}px) {
        grid-template-columns: 1fr;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        .card-1{
            flex: 1 0 45%;
            height: 70px;
            position: relative;
            img{
                max-width: 100%;
            }
            &__factor{
                position: absolute;
                top: -8px;
                inset-inline-end: 4px;
            }
        }
        .tooltip_top:nth-child(odd){
            .tooltip__body{
                inset-inline-start: 0;
                inset-inline-end: auto;
            }
        }
        &_3col{
            .card-1{
                flex: 1 0 30%;
            }
        }
        &_4col{
            .card-1{
                flex: 1 0 22%;
                @media (max-width:#{$md2}px) {
                    flex: 1 0 45%;
                }
            }
        }
    }
}

.supportBanner{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    border-radius: 8px;
    text-transform: uppercase;
    position: relative;
    &__header{
        background-color: rgba(2, 149, 255, 1);
        padding-inline-start: 61px;
        flex: 0 0 50%;
        color: rgba(252, 221, 17, 1);
        font-weight: 700;
        font-size: 17px;
        line-height: 120%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-top: 12px;
        padding-bottom: 16px;
        @media ((max-width: 930px) and (min-width: #{$md3}px)) or (max-width: 492px) {
            padding-inline-start: 16px;
        }
    }
    &__footer{
        background-color: rgba(252, 221, 17, 1);
        padding-inline-start: 61px;
        flex: 0 0 50%;
        color: rgba(2, 149, 255, 1);
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        padding-bottom: 41px;
        a{
            font-size: 10px;
            font-weight: 400;
            &:hover{
                text-decoration: underline;
            }
        }
        @media ((max-width: 930px) and (min-width: #{$md3}px)) or (max-width: 492px) {
            padding-inline-start: 16px;
        }
    }
    &__qrcode{
        position: absolute;
        inset-inline-end: 30px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        width: 110px;
        height: 110px;
        border-radius: 4px;
        @media ((max-width: 930px) and (min-width: #{$md3}px)) or (max-width: 492px) {
            inset-inline-end: 16px;
        }
        @media (max-width:440px) {
            width: 72px;
            height: 72px;
        }
    }
}