$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

.collaboration{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    @media (max-width:#{$md3}px) {
        grid-template-columns: 1fr;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        .card-1{
            flex: 1 0 45%;
            height: auto;
            position: relative;
            img{
                max-width: 100%;
            }
            &__factor{
                position: absolute;
                top: -8px;
                inset-inline-end: 4px;
            }
        }
        .tooltip_top:nth-child(odd){
            .tooltip__body{
                inset-inline-start: 0;
                inset-inline-end: auto;
            }
        }
        &_3col{
            .card-1{
                flex: 1 0 30%;
                @media ((min-width:#{$md3}px) and (max-width:1070px)) or (max-width:560px){
                    flex: 1 0 40%;
                }
            }
        }
        &_4col{
            .card-1{
                flex: 1 0 22%;
                @media (max-width:#{$md2}px) {
                    flex: 1 0 45%;
                }
            }
        }
    }
    &__text{
        margin-inline-start: 8px;
        font-family: "Arial";
        text-transform: uppercase;
        font-size: 8px;
        font-weight: bold;
        letter-spacing: 0px;
        line-height: 120%;
    }
}

.collaborationBanner{
    border-radius: 8px;
    padding: 16px 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-inline-end: 16px;
    @media (max-width:#{$md4}px) {
        flex-direction: column;
        gap: 32px;
    }
    
    background-color: var(--color-light);
    @media (max-width:#{$md3}px) {
        padding: 32px;
    }
    @media (max-width:#{$md4}px) {
        padding: 16px;
    }
    &__text{
        position: relative;
        z-index: 2;
        max-width: 256px;
        @media ((max-width:1000px) and (min-width:#{$md3}px)) or (max-width:#{$md4}px) {
            max-width: none;
        }
        @media (max-width:#{$md4}px) {
            text-align: center;
        }
    }
    &__videoContainer{
        position: relative;
    }
    &__video{
        border-radius: 4px;
    }
    &__imgTop{
        position: absolute;
        top: -28px;
        right: -16px;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}