$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

.elk{
    background-color: var(--color-light);
    &__top{
        display: flex;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        padding: 16px;
        @media (max-width:#{$md3}px) {
            gap: 16px;
        }
    }
    &__col{
        border: 4px solid rgba(255, 255, 255, 1);
        padding: 12px;
        text-align: center;
        flex: 1;
        min-width: 209px;
        img{
            height: 48px;
            width: auto;
            object-fit: contain;
            max-width: 100%;
        }
    }
}