.btn_primary{
    background: linear-gradient(360deg, #F48CDA 0%, #FFFFFF 105.95%);
    border: 2px solid rgba(70, 5, 57, 1);
    box-shadow: 0px 4px 0px 0px rgba(70, 5, 57, 1);
    padding: 10px 24px;
    color: rgba(70, 5, 57, 1);
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(360deg, #F48CDA 0%, #FFFFFF 105.95%);
    border: 2px solid rgba(70, 5, 57, 1);
    box-shadow: 0px 4px 0px 0px rgba(70, 5, 57, 1);
    svg use{ 
        fill: #460539;
    }
}

.textBanner__x2{
    inset-inline-end: -86px;
    top: -46px;
    @media (max-width:600px) {
        inset-inline-end: -42px;
        top: -16px;
    }
}

.textBanner__money2{
    inset-inline-end: 102px;
    top: -80px;
    @media (max-width:992.98px) {
        inset-inline-end: 17px;
        top: -86px;
    }
    @media (max-width:600px) {
        inset-inline-end: 40px;
        top: -50px;
    }
}