.btn_primary{
    background: linear-gradient(161.96deg, #FFEE06 17.19%, #DD640A 92.79%);
    padding: 10px 24px;
    color: rgba(35, 35, 37, 1);
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(161.96deg, #FFEE06 17.19%, #DD640A 92.79%);
    svg use{ 
        fill: #232325;
    }
}

.textBanner__x2{
    inset-inline-end: -86px;
    top: -46px;
    @media (max-width:600px) {
        inset-inline-end: -42px;
        top: -16px;
    }
}

.textBanner__money2{
    inset-inline-end: 102px;
    top: -80px;
    @media (max-width:992.98px) {
        inset-inline-end: 17px;
        top: -86px;
    }
    @media (max-width:600px) {
        inset-inline-end: 24px;
        top: -50px;
    }
}