.btn_primary{
    background: linear-gradient(161.96deg, #E680CA 17.19%, #01CFF4 92.79%);
    border: 1px solid rgba(254, 250, 62, 1);
    color: rgba(254, 250, 62, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(161.96deg, #E680CA 17.19%, #01CFF4 92.79%);
    border: 1px solid rgba(254, 250, 62, 1);
    svg use{ 
        fill: #FEFA3E;
    }
}

.textBanner__x2{
    inset-inline-end: -86px;
    top: -46px;
    @media (max-width:600px) {
        inset-inline-end: -42px;
        top: -16px;
    }
}

.textBanner__money2{
    inset-inline-end: 102px;
    top: -80px;
    @media (max-width:992.98px) {
        inset-inline-end: 17px;
        top: -86px;
    }
    @media (max-width:600px) {
        inset-inline-end: 60px;
        top: -50px;
    }
}