:root {
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -40px;
    --x1_top_600: -28px;

    --x2_inset: -77px;
    --x2_top: -48px;
    --x2_inset_600: -37px;
    --x2_top_600: -31px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #FF4FBD 0%, #9B035D 100%);
    border: 2px solid rgba(249, 204, 57, 1);
    padding: 10px 24px;
    color: #F9CC39;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #FF4FBD 0%, #9B035D 100%);
    border: 2px solid rgba(249, 204, 57, 1);
    svg use{ fill: #F9CC39; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}