:root {
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -47px;
    --x1_top_600: -29px;

    --x2_inset: -76px;
    --x2_top: -46px;
    --x2_inset_600: -39px;
    --x2_top_600: -24px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #18AA01 0%, #002B00 100%);
    border: 2px solid rgba(253, 96, 1, 1);
    padding: 10px 24px;
    color: #fff;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #18AA01 0%, #002B00 100%);
    border: 2px solid rgba(253, 96, 1, 1);
    svg use{ fill: #fff; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}