:root {
    --color-bg: rgba(35, 35, 37, 1);
    --color-bg-hover: rgba(57, 57, 59, 1);
    --color-opposite: #ffffff;
    --color-opposite-hover: rgba(255, 255, 255, 0.7);
    --color-opposite-hex-hover: #D3D3D3;

    --color-brand: linear-gradient(90deg, #FFF173 0%, #FFB800 100%);
    --color-brand-hover: #FFB800;

    --fill-icon-primary: rgba(255, 255, 255, 0.3);
    --fill-icon-secondary: rgba(255, 255, 255, 0.3);
    --fill-icon-brand-hex: #FFB800;

    --color-light: rgba(255, 255, 255, 0.05);
    --color-light-hover: rgba(255, 255, 255, 0.1);
    --color-light-hex: #2E2E30;
    --color-light-hex-hover: #454547;

    --color-light-seo: #ccc;

    --color-gray: rgba(255, 255, 255, 0.3);

    --bg-btn-bonus: linear-gradient(225deg, #6D28FF 0%, #FA00FF 100%);
    --bg-btn-bonus-hover: linear-gradient(225deg,#FA00FF 0%, #6D28FF 100%);

    --color-btn-primary: rgba(35, 35, 37, 1);
    --shadow-btn-primary: 0px 8px 50px 0px rgba(255, 212, 0, 0.5);

    --color-btn-secondary: rgba(35, 35, 37, 1);
    --bg-btn-secondary: #ffffff;
    --bg-btn-secondary-hover: rgba(211, 211, 211, 1);
    --border-btn-secondary: none;

    --color-btn-info: #ffffff;
    --bg-btn-info: rgba(35, 35, 37, 1);
    --bg-btn-info-hover: rgba(57, 57, 59, 1);
    --border-btn-info: none;

    --border-casino-info: linear-gradient(111.17deg, #FFB800 0%, rgba(255, 36, 0, 0) 100.01%);
    --bg-casino-info: linear-gradient(160deg, rgba(255, 36, 0, 0) 40%, rgba(255, 212, 0, 0.8) 100%), #13171F;

    --color-input-radio: rgba(63, 105, 255, 1);
    --color-search-border: rgba(63, 105, 255, 0.3);

    --color-form-border: rgba(255, 59, 48, 0.3);
    --color-form-error: rgba(255, 59, 48, 1);

    --bg-video-overlay: rgba(30, 30, 30, 0.5);

    --br-small: 8px;
    --br-large: 16px;
    --shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.5);
    --shadow-2-start-rgb: 35, 35, 37;
    --shadow-2-end-hex: #232325;

    --fz-text-default: 15px;
    --lh-text-default: 18px;
    --fz-text-big: 30px;
    --lh-text-big: 36px;
    --fz-text-medium: 20px;
    --lh-text-medium: 24px;
    --fz-text-small: 13px;
    --lh-text-small: 16px;
}

@import "import/mixin"; // Подключаю миксины

// ================== Подключаем шрифты ===================
@import "import/fonts";
// --------------------------------------------------------

// ====================== Переменные ======================

$minwidth: 320px;
$mw: 1200;
$md1: $mw;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
$fontfamily: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', sans-serif;

// =================== Переменные темы ====================

$theme: "book-of-dead";

$x1_inset: -84px;
$x1_top: -48px;
$x1_inset_600: -50px;
$x1_top_600: -18px;

$x2_inset: -77px;
$x2_top: -43px;
$x2_inset_600: -35px;
$x2_top_600: -21px;

$money_inset: 20px;
$money_top: -80px;
$money_inset_md2: -7px;
$money_top_md2: -86px;
$money_inset_600: 5px;
$money_top_600: -50px;

@mixin btn_primary() {
    background: linear-gradient(161.96deg, #162DAA 17.19%, #264CBC 92.79%);
    border: 1px solid rgba(226, 188, 119, 1);
    color: rgba(222, 166, 62, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

@mixin label_4() {
    background: linear-gradient(161.96deg, #162DAA 17.19%, #264CBC 92.79%);
    border: 1px solid rgba(226, 188, 119, 1);
    svg use{ fill: #DEA63E; }
}

// --------------------------------------------------------

@import "import/null"; // Обнуляющие стили

// ===================== Оболочка =========================

.wrapper{
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	@media (max-width:#{$md3}px) {
	    overflow: hidden;/* Выше 768 мы его убираем чтобы сработал 
	    position sticky у блока .stickyBlock */
	}
}

// --------------------------------------------------------

// ================= Основная сетка =======================
.container{
	max-width: $mw+px; margin: 0 auto; width: 100%;
}
// --------------------------------------------------------

// ============== Импортируем все стили ===================

@import "import/base"; // Вертска переиспользуемых блоков
@import "import/popups"; // Попапы
@import "import/scroll"; // Скролл
@import "import/components"; // Компоненты
@import "import/site"; // Последовательная верстка всего сайта
@import "import/text"; // Для текста
@import "import/footer_f1-banner"; // Персональный футер конкретно для этой темы
@import "import/test"; // Для теста
@import "import/сustom_wp"; // Подстраиваемся под WP

// --------------------------------------------------------