:root {
    --x1_inset: -77px;
    --x1_top: -24px;
    --x1_inset_600: -42px;
    --x1_top_600: -11px;

    --x2_inset: -67px;
    --x2_top: -41px;
    --x2_inset_600: -36px;
    --x2_top_600: -16px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #FFFF89 0%, #FBE06C 100%);
    border: 2px solid rgba(88, 60, 35, 1);
    padding: 10px 24px;
    color: rgba(0, 0, 0, 1);
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #FFFF89 0%, #FBE06C 100%);
    border: 2px solid rgba(88, 60, 35, 1);
    svg use{ fill: #000; }
}

.textBanner__money2{
    display: none;
}

.textBanner__t2{
    font-size: 40px;
    line-height: 48px;
    @media (max-width:660px) {
        font-size: 32px;
        line-height: 36px;
    }
    @media (max-width:480px) {
        font-size: 24px;
        line-height: 28px;
    }
}