:root {
    --color-bg: #FFFFFF;
    --color-bg-hover: rgba(57, 57, 59, 1);
    --color-opposite: #232325;
    --color-opposite-hover: rgba(35, 35, 37, 0.7);
    --color-opposite-hex-hover: #39393A;

    --color-brand: rgba(35, 35, 37, 1);
    --color-brand-hover: rgba(35, 35, 37, 0.9);

    --fill-icon-primary: #232325;
    --fill-icon-secondary: #FFF;
    --fill-icon-brand-hex: #FFF;

    --color-light: rgba(35, 35, 37, 0.1);
    --color-light-hover: rgba(35, 35, 37, 0.15);
    --color-light-hex: #FFFFFF;
    --color-light-hex-hover: #454547;

    --color-light-seo: #ccc;

    --color-gray: rgba(35, 35, 37, 0.5);

    --bg-btn-bonus: linear-gradient(90deg, #BEE562 -12.5%, #6FAA1D 121.25%);
    --bg-btn-bonus-hover: linear-gradient(90deg, #6FAA1D -12.5%, #BEE562 121.25%);

    --color-btn-primary: rgba(255, 255, 255, 1);
    --shadow-btn-primary: none;

    --color-btn-secondary: rgba(35, 35, 37, 1);
    --bg-btn-secondary: #ffffff;
    --bg-btn-secondary-hover: rgba(211, 211, 211, 1);
    --border-btn-secondary: none;

    --color-btn-info: #ffffff;
    --bg-btn-info: rgba(35, 35, 37, 1);
    --bg-btn-info-hover: rgba(57, 57, 59, 1);
    --border-btn-info: none;

    --border-casino-info: linear-gradient(111.17deg, #FFB800 0%, rgba(255, 36, 0, 0) 100.01%);
    --bg-casino-info: linear-gradient(160deg, rgba(255, 36, 0, 0) 40%, rgba(255, 212, 0, 0.8) 100%), #13171F;

    --color-input-radio: rgba(63, 105, 255, 1);
    --color-search-border: rgba(63, 105, 255, 0.3);

    --color-form-border: rgba(255, 59, 48, 0.3);
    --color-form-error: rgba(255, 59, 48, 1);

    --bg-video-overlay: rgba(30, 30, 30, 0.5);

    --br-small: 8px;
    --br-large: 16px;
    --shadow: 0px 8px 48px 0px #00000033;
    --shadow-2-start-rgb: 255, 255, 255;
    --shadow-2-end-hex: #fff;

    --fz-text-default: 15px;
    --lh-text-default: 18px;
    --fz-text-big: 30px;
    --lh-text-big: 36px;
    --fz-text-medium: 20px;
    --lh-text-medium: 24px;
    --fz-text-small: 13px;
    --lh-text-small: 16px;
}

@import "import/mixin"; // Подключаю миксины

// ================== Подключаем шрифты ===================
@import "import/fonts";
// --------------------------------------------------------

// ====================== Переменные ======================

$minwidth: 320px;
$mw: 1200;
$md1: $mw;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
$fontfamily: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', sans-serif;

// =================== Переменные темы ====================

$theme: "light";

// --------------------------------------------------------

@import "import/null"; // Обнуляющие стили

// ===================== Оболочка =========================

.wrapper{
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	@media (max-width:#{$md3}px) {
	    overflow: hidden;/* Выше 768 мы его убираем чтобы сработал 
	    position sticky у блока .stickyBlock */
	}
}

// --------------------------------------------------------

// ================= Основная сетка =======================
.container{
	max-width: $mw+px; margin: 0 auto; width: 100%;
}
// --------------------------------------------------------

// ============== Импортируем все стили ===================

@import "import/base"; // Вертска переиспользуемых блоков
@import "import/popups"; // Попапы
@import "import/scroll"; // Скролл
@import "import/components"; // Компоненты
@import "import/site"; // Последовательная верстка всего сайта
@import "import/text"; // Для текста
@import "import/test"; // Для теста
@import "import/сustom_wp"; // Подстраиваемся под WP