.btn_primary{
    background: linear-gradient(360deg, #D18F3E 0%, #FFE296 105.95%);
    border: 2px solid rgba(54, 76, 68, 1);
    color: rgba(54, 76, 68, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(360deg, #D18F3E 0%, #FFE296 105.95%);
    border: 2px solid rgba(54, 76, 68, 1);
    color: rgba(54, 76, 68, 1);
    svg use{ fill: #364C44; }
}