:root{
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -38px;
    --x1_top_600: -41px;

    --x2_inset: -85px;
    --x2_top: -52px;
    --x2_inset_600: -38px;
    --x2_top_600: -34px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(360deg, #670DAE 0%, #A435FA 105.95%);
    border: 2px solid rgba(170, 171, 175, 1);
    color: #FFF;
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(360deg, #670DAE 0%, #A435FA 105.95%);
    border: 2px solid rgba(170, 171, 175, 1);
    svg use{ fill: #FFF; }
}

.textBanner__money2{
    display: none;
}