.btn_primary{
    background: linear-gradient(360deg, #CD9203 0%, #FFC312 52.98%, #FFFE9A 105.95%);
    border: 2px solid rgba(75, 1, 2, 1);
    color: rgba(75, 1, 2, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(360deg, #CD9203 0%, #FFC312 52.98%, #FFFE9A 105.95%);
    border: 2px solid rgba(75, 1, 2, 1);
    svg use{ fill: #4B0102; }
}

.textBanner__x2{
    inset-inline-end: -67px;
    top: -55px;
    @media (max-width:600px) {
        inset-inline-end: -37px;
        top: -30px;
    }
}