:root {
    --x1_inset: -87px;
    --x1_top: -30px;
    --x1_inset_600: -50px;
    --x1_top_600: -18px;

    --x2_inset: -80px;
    --x2_top: -27px;
    --x2_inset_600: -43px;
    --x2_top_600: -15px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #23A557 0%, #23322E 100%);
    border: 2px solid rgba(247, 197, 0, 1);
    padding: 10px 24px;
    color: #fff;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #23A557 0%, #23322E 100%);
    border: 2px solid rgba(247, 197, 0, 1);
    svg use{ fill: #fff; }
}

.textBanner__t2{
    font-size: 40px;
    line-height: 48px;
    @media (max-width:992px) {
        font-size: 36px;
        line-height: 40px;
    }
    @media (max-width:768px) {
        font-size: 30px;
        line-height: 36px;
    }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}