.btn_primary{
    background: linear-gradient(161.96deg, #D389FF 17.19%, #8800D9 92.79%);
    border: 1px solid rgba(213, 178, 255, 1);
    color: #fff;
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(161.96deg, #D389FF 17.19%, #8800D9 92.79%);
    border: 1px solid rgba(213, 178, 255, 1);
    svg use{ fill: #FFF; }
}

.textBanner__x1{
    @media (max-width:600px) {
        inset-inline-start: -38px;
        top: -18px;
    }
}

.textBanner__x2{
    inset-inline-end: -77px;
    top: -43px;
    @media (max-width:600px) {
        inset-inline-end: -35px;
        top: -21px;
    }
}