:root {
    --x1_inset: -103px;
    --x1_top: -31px;
    --x1_inset_600: -52px;
    --x1_top_600: -11px;

    --x2_inset: -84px;
    --x2_top: -27px;
    --x2_inset_600: -46px;
    --x2_top_600: -16px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #BA1CF8 0%, #A60673 100%);
    border: 2px solid rgba(115, 254, 254, 1);
    padding: 10px 24px;
    color: #fff;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #BA1CF8 0%, #A60673 100%);
    border: 2px solid rgba(115, 254, 254, 1);
    svg use{ fill: #fff; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}