:root{
    --x1_inset: -84px;
    --x1_top: -68px;
    --x1_inset_600: -38px;
    --x1_top_600: -18px;

    --x2_inset: -86px;
    --x2_top: -46px;
    --x2_inset_600: -36px;
    --x2_top_600: -23px;

    --money_inset: 19px;
    --money_top: -80px;
    --money_inset_md2: 17px;
    --money_top_md2: -86px;
    --money_inset_600: 7px;
    --money_top_600: -50px;
}

.btn_primary{
    color: #fff;
    position: relative;
	background: linear-gradient(119.59deg, #E1CE00 0%, #FF9D00 100%) padding-box, 
        linear-gradient(96.44deg, #C88616 0%, #FFFFB1 100%) border-box;
    border: 2px solid transparent;
    padding: 10px 24px;
    @media (max-width:767.98px) {
        padding: 10px 16px;
    }
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(119.59deg, #E1CE00 0%, #FF9D00 100%) padding-box, 
        linear-gradient(96.44deg, #C88616 0%, #FFFFB1 100%) border-box;
    border: 2px solid transparent;
    svg use{
        fill: #232325;
    }
}