.btn_primary{
    background: linear-gradient(360deg, #F8C243 0%, #FEF8E3 105.95%);
    border: 2px solid rgba(144, 40, 3, 1);
    box-shadow: 0px 4px 0px 0px rgba(144, 40, 3, 1);
    color: rgba(144, 40, 3, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(360deg, #F8C243 0%, #FEF8E3 105.95%);
    border: 2px solid rgba(144, 40, 3, 1);
    box-shadow: 0px 4px 0px 0px rgba(144, 40, 3, 1);
    svg use{ fill: #902803; }
}

.textBanner__x2{
    inset-inline-end: -75px;
    top: -35px;
    @media (max-width:600px) {
        inset-inline-end: -42px;
        top: -19px;
    }
}