.btn_primary{
    background: linear-gradient(360deg, #FE5054 0%, #FCC3CF 105.95%);
    border: 2px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(360deg, #FE5054 0%, #FCC3CF 105.95%);
    border: 2px solid rgba(0, 0, 0, 1);
    svg use{ fill: #000; }
}

.textBanner__x2{
    inset-inline-end: -89px;
    top: -46px;
    @media (max-width:600px) {
        inset-inline-end: -45px;
        top: -30px;
    }
}