:root{
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -50px;
    --x1_top_600: -18px;

    --x2_inset: -86px;
    --x2_top: -46px;
    --x2_inset_600: -42px;
    --x2_top_600: -16px;

    --money_inset: 11px;
    --money_top: -80px;
    --money_inset_md2: -9px;
    --money_top_md2: -86px;
    --money_inset_600: 2px;
    --money_top_600: -50px;
}

.btn_primary{
	background: linear-gradient(180deg, #1EDF4E 0%, #1C9F3E 100%);
    border: 2px solid rgba(88, 253, 142, 1);
    padding: 10px 24px;
    color: #fff;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #1EDF4E 0%, #1C9F3E 100%);
    border: 2px solid rgba(88, 253, 142, 1);
    svg use{ fill: #fff; }
}