.btn_primary{
    background: linear-gradient(161.96deg, #FF77E7 17.19%, #FF00CA 92.79%);
    color: #fff;
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(161.96deg, #FF77E7 17.19%, #FF00CA 92.79%);
    svg use{ fill: #FFF; }
}

.textBanner__x1{
    @media (max-width:600px) {
        inset-inline-start: -37px;
        top: -29px;
    }
}

.textBanner__x2{
    inset-inline-end: -80px;
    top: -39px;
    @media (max-width:600px) {
        inset-inline-end: -44px;
        top: -22px;
    }
}