:root{
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -50px;
    --x1_top_600: -18px;

    --x2_inset: -77px;
    --x2_top: -43px;
    --x2_inset_600: -35px;
    --x2_top_600: -21px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(161.96deg, #162DAA 17.19%, #264CBC 92.79%);
    border: 1px solid rgba(226, 188, 119, 1);
    color: rgba(222, 166, 62, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(161.96deg, #162DAA 17.19%, #264CBC 92.79%);
    border: 1px solid rgba(226, 188, 119, 1);
    svg use{ fill: #DEA63E; }
}