:root {
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -43px;
    --x1_top_600: -27px;

    --x2_inset: -84px;
    --x2_top: -38px;
    --x2_inset_600: -46px;
    --x2_top_600: -23px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #11E6FF 0%, #010A58 100%);
    border: 2px solid rgba(252, 237, 44, 1);
    padding: 10px 24px;
    color: #FCED2C;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #11E6FF 0%, #010A58 100%);
    border: 2px solid rgba(252, 237, 44, 1);
    svg use{ fill: #FCED2C; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}