.btn_primary{
    background: linear-gradient(360deg, #1A35A8 0%, #FFFFFF 52.47%, #1A35A8 105.95%);
    border: 2px solid rgba(255, 171, 78, 1);
    color: rgba(18, 30, 100, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(360deg, #1A35A8 0%, #FFFFFF 52.47%, #1A35A8 105.95%);
    border: 2px solid rgba(255, 171, 78, 1);
    svg use{ fill: #121E64; }
}

.textBanner__x2{
    inset-inline-end: -89px;
    top: -74px;
    @media (max-width:600px) {
        inset-inline-end: -33px;
        top: -48px;
    }
}