.btn_primary{
    background: linear-gradient(161.96deg, #FFC704 17.19%, #C55900 92.79%);
    color: rgba(35, 35, 37, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(161.96deg, #FFC704 17.19%, #C55900 92.79%);
    svg use{ fill: #232325; }
}

.textBanner__x1{
    @media (max-width:600px) {
        inset-inline-start: -34px;
        top: -29px;
    }
}

.textBanner__x2{
    inset-inline-end: -50px;
    top: -46px;
    @media (max-width:600px) {
        inset-inline-end: -30px;
        top: -30px;
    }
}