:root {
    --x1_inset: -84px;
    --x1_top: -41px;
    --x1_inset_600: -50px;
    --x1_top_600: -22px;

    --x2_inset: -81px;
    --x2_top: -46px;
    --x2_inset_600: -37px;
    --x2_top_600: -22px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #FCE17E 0%, #ED970C 100%);
    border: 2px solid rgba(0, 0, 0, 1);
    padding: 10px 24px;
    color: #000;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #FCE17E 0%, #ED970C 100%);
    border: 2px solid rgba(0, 0, 0, 1);
    svg use{ fill: #000; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}

.textBanner__t2{
    font-size: 40px;
    line-height: 48px;
    @media (max-width:768px) {
        font-size: 30px;
        line-height: 36px;
    }
    @media (max-width:480px) {
        font-size: 24px;
        line-height: 30px;
    }
}