:root {
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -22px;
    --x1_top_600: -43px;

    --x2_inset: -72px;
    --x2_top: -72px;
    --x2_inset_600: -18px;
    --x2_top_600: -44px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(0deg, #500210 0%, #EA151B 100%);
    border: 2px solid rgba(196, 132, 21, 1);
    padding: 10px 24px;
    color: #fff;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(0deg, #500210 0%, #EA151B 100%);
    border: 2px solid rgba(196, 132, 21, 1);
    svg use{ fill: #fff; }
}

.textBanner__money2{
    display: none;
}