:root {
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -39px;
    --x1_top_600: -39px;

    --x2_inset: -72px;
    --x2_top: -72px;
    --x2_inset_600: -38px;
    --x2_top_600: -35px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(186.65deg, #FFE607 5.09%, #AA3906 94.78%);
    border: 2px solid rgba(73, 213, 209, 1);
    padding: 10px 24px;
    color: rgba(64, 20, 0, 1);
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(186.65deg, #FFE607 5.09%, #AA3906 94.78%);
    border: 2px solid rgba(73, 213, 209, 1);
    svg use{ fill: #401400; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}