:root {
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -39px;
    --x1_top_600: -41px;

    --x2_inset: -72px;
    --x2_top: -72px;
    --x2_inset_600: -36px;
    --x2_top_600: -38px;
    
    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: rgba(113, 250, 236, 1);
    border: 2px solid rgba(179, 9, 2, 1);
    padding: 10px 24px;
    color: #000;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: rgba(113, 250, 236, 1);
    border: 2px solid rgba(179, 9, 2, 1);
    svg use{ fill: #000; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}