:root {
    --x1_inset: -74px;
    --x1_top: -54px;
    --x1_inset_600: -46px;
    --x1_top_600: -25px;

    --x2_inset: -55px;
    --x2_top: -72px;
    --x2_inset_600: -19px;
    --x2_top_600: -40px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #C90F05 0%, #901912 100%);
    border: 2px solid rgba(246, 183, 30, 1);
    padding: 10px 24px;
    color: #fff;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
     background: linear-gradient(180deg, #C90F05 0%, #901912 100%);
    border: 2px solid rgba(246, 183, 30, 1);
    svg use{ fill: #fff; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}