:root {
    --x1_inset: -84px;
    --x1_top: -30px;
    --x1_inset_600: -50px;
    --x1_top_600: -18px;

    --x2_inset: -80px;
    --x2_top: -28px;
    --x2_inset_600: -42px;
    --x2_top_600: -9px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #FA4C43 0%, #850706 100%);
    border: 2px solid rgba(255, 229, 63, 1);
    padding: 10px 24px;
    color: #fff;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #FA4C43 0%, #850706 100%);
    border: 2px solid rgba(255, 229, 63, 1);
    svg use{ fill: #fff; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}