:root{
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -50px;
    --x1_top_600: -18px;

    --x2_inset: -86px;
    --x2_top: -46px;
    --x2_inset_600: -42px;
    --x2_top_600: -16px;

    --money_inset: 98px;
    --money_top: -80px;
    --money_inset_md2: 17px;
    --money_top_md2: -86px;
    --money_inset_600: 26px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(0deg, #A31300 0%, #FF4F35 100%) padding-box, 
        linear-gradient(90deg, #E7A401 0%, #FBFA7D 50%, #E47D01 100%) border-box;
    border: 2px solid transparent;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);      
    padding: 10px 24px;
    color: #fff;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(0deg, #A31300 0%, #FF4F35 100%) padding-box, 
        linear-gradient(90deg, #E7A401 0%, #FBFA7D 50%, #E47D01 100%) border-box;
    border: 2px solid transparent;
    svg use{ fill: #fff; }
}