:root {
    --x1_inset: -99px;
    --x1_top: -42px;
    --x1_inset_600: -50px;
    --x1_top_600: -18px;

    --x2_inset: -89px;
    --x2_top: -42px;
    --x2_inset_600: -46px;
    --x2_top_600: -37px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #FF0000 0%, #680000 100%);
    border: 2px solid rgba(235, 167, 9, 1);
    padding: 10px 24px;
    color: #FFF;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #FF0000 0%, #680000 100%);
    border: 2px solid rgba(235, 167, 9, 1);
    svg use{ fill: #fff; }
}

.textBanner__money2{
    display: none;
}

.firstScreen__image{
    justify-content: flex-end;
}