:root{
    --x1_inset: -76px;
    --x1_top: -46px;
    --x1_inset_600: -36px;
    --x1_top_600: -23px;

    --x2_inset: -76px;
    --x2_top: -61px;
    --x2_inset_600: -47px;
    --x2_top_600: -30px;

    --money_inset: 27px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 3px;
    --money_top_600: -50px;
}

.btn_primary{
	color: #fff;
    position: relative;
    background: linear-gradient(119.59deg, #6AD0FF 0%, #375FDC 100%) padding-box, 
        linear-gradient(96.44deg, #CFEDFC 0%, #8DB6FC 100%) border-box;
    border: 2px solid transparent;
    padding: 10px 24px;
    @media (max-width:767.98px) {
        padding: 10px 16px;
    }
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(119.59deg, #6AD0FF 0%, #375FDC 100%) padding-box, 
        linear-gradient(96.44deg, #CFEDFC 0%, #8DB6FC 100%) border-box;
    border: 2px solid transparent;
    svg use{
        fill: #fff;
    }
}