:root{
    --x1_inset: -70px;
    --x1_top: -59px;
    --x1_inset_600: -50px;
    --x1_top_600: -18px;

    --x2_inset: -86px;
    --x2_top: -46px;
    --x2_inset_600: -42px;
    --x2_top_600: -16px;

    --money_inset: 40px;
    --money_top: -80px;
    --money_inset_md2: 17px;
    --money_top_md2: -86px;
    --money_inset_600: 1px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(360deg, #F48CDA 0%, #FFFFFF 105.95%);
    border: 2px solid rgba(70, 5, 57, 1);
    box-shadow: 0px 4px 0px 0px rgba(70, 5, 57, 1);
    padding: 10px 24px;
    color: rgba(70, 5, 57, 1);
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(360deg, #F48CDA 0%, #FFFFFF 105.95%);
    border: 2px solid rgba(70, 5, 57, 1);
    box-shadow: 0px 4px 0px 0px rgba(70, 5, 57, 1);
    svg use{ 
        fill: #460539;
    }
}