:root{
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -50px;
    --x1_top_600: -18px;

    --x2_inset: -86px;
    --x2_top: -46px;
    --x2_inset_600: -42px;
    --x2_top_600: -16px;

    --money_inset: 102px;
    --money_top: -80px;
    --money_inset_md2: 17px;
    --money_top_md2: -86px;
    --money_inset_600: 120px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(161.96deg, #FEFC11 17.19%, #E4A91D 92.79%);
    border: 2px solid rgba(204, 23, 61, 1);
    box-shadow: 0px 4px 0px 0px rgba(204, 23, 61, 1);
    padding: 10px 24px;
    color: rgba(35, 35, 37, 1);
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(161.96deg, #FEFC11 17.19%, #E4A91D 92.79%);
    border: 2px solid rgba(204, 23, 61, 1);
    box-shadow: 0px 4px 0px 0px rgba(204, 23, 61, 1);
    svg use{ 
        fill: #232325;
    }
}

@media (min-width:992.98px) {
    .textBanner__t2{
        font-size: 48px !important;
        line-height: 56px !important;
    }
}