:root {
    --x1_inset: -89px;
    --x1_top: -39px;
    --x1_inset_600: -51px;
    --x1_top_600: -17px;

    --x2_inset: -88px;
    --x2_top: -31px;
    --x2_inset_600: -47px;
    --x2_top_600: -10px;

    --money_inset: 20px;
    --money_top: -80px;
    --money_inset_md2: -7px;
    --money_top_md2: -86px;
    --money_inset_600: 5px;
    --money_top_600: -50px;
}

.btn_primary{
    background: linear-gradient(180deg, #FEB33B 0%, #FFD960 49.04%, #AA620F 100%);
    border: 2px solid rgba(45, 16, 11, 1);
    padding: 10px 24px;
    color: #000;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #FEB33B 0%, #FFD960 49.04%, #AA620F 100%);
    border: 2px solid rgba(45, 16, 11, 1);
    svg use{ fill: #000; }
}

.textBanner__money2{
    display: none;
}