$x1_inset: -84px;
$x1_top: -48px;
$x1_inset_600: -50px;
$x1_top_600: -18px;

$x2_inset: -50px;
$x2_top: -46px;
$x2_inset_600: -30px;
$x2_top_600: -30px;

$money_inset: 20px;
$money_top: -80px;
$money_inset_md2: -7px;
$money_top_md2: -86px;
$money_inset_600: 5px;
$money_top_600: -50px;

.btn_primary{
    background: linear-gradient(161.96deg, #FEFC11 17.19%, #E4A91D 92.79%);
    border: 2px solid rgba(204, 23, 61, 1);
    box-shadow: 0px 4px 0px 0px rgba(204, 23, 61, 1);
    color: rgba(35, 35, 37, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(161.96deg, #FEFC11 17.19%, #E4A91D 92.79%);
    border: 2px solid rgba(204, 23, 61, 1);
    box-shadow: 0px 4px 0px 0px rgba(204, 23, 61, 1);
    svg use{ fill: #232325; }
}

.textBanner__x2{
    inset-inline-end: -83px;
    top: -46px;
    @media (max-width:600px) {
        inset-inline-end: -45px;
        top: -30px;
    }
}