@import "import/mixin"; // Подключаю миксины

// ================== Подключаем шрифты ===================
@import "import/fonts";
// --------------------------------------------------------

// ====================== Переменные ======================

$theme: 1;

@if $theme == 0 {
	:root {
		--color-bg: rgba(35, 35, 37, 1);
		--color-bg-hover: rgba(57, 57, 59, 1);
		--color-opposite: #ffffff;
		--color-opposite-hover: rgba(255, 255, 255, 0.7);

		--color-brand: linear-gradient(90deg, #FFF173 0%, #FFB800 100%);
		--color-brand-hover: #FFB800;

		--color-light: rgba(255, 255, 255, 0.05);
		--color-light-hover: rgba(255, 255, 255, 0.1);
		--color-light-hex: #2E2E30;
		--color-light-hex-hover: #454547;

		--color-light-seo: #ccc;

		--color-gray: rgba(255, 255, 255, 0.3);

		--bg-btn-bonus: linear-gradient(225deg, #6D28FF 0%, #FA00FF 100%);
		--bg-btn-bonus-hover: linear-gradient(225deg,#FA00FF 0%, #6D28FF 100%);

		--color-btn-primary: rgba(35, 35, 37, 1);
		--shadow-btn-primary: 0px 8px 50px 0px rgba(255, 212, 0, 0.5);

		--color-btn-secondary: rgba(35, 35, 37, 1);
		--bg-btn-secondary: #ffffff;
		--bg-btn-secondary-hover: rgba(211, 211, 211, 1);
		--border-btn-secondary: none;

		--color-btn-info: #ffffff;
		--bg-btn-info: rgba(35, 35, 37, 1);
		--bg-btn-info-hover: rgba(57, 57, 59, 1);

		--color-note: rgba(52, 199, 89, 1);

		--color-input-radio: rgba(63, 105, 255, 1);
		--color-search-border: rgba(63, 105, 255, 0.3);
		--color-search-before: linear-gradient(90deg, rgba(35, 35, 37, 0) 0%, rgba(35, 35, 37, 1) 50%, #232325 100%);

		--color-form-border: rgba(255, 59, 48, 0.3);
		--color-form-error: rgba(255, 59, 48, 1);

		--bg-video-overlay: rgba(30, 30, 30, 0.5);

		--br-small: 8px;
		--br-large: 16px;
		--shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.5);
	}
} @else if $theme == 1 {
	:root {
		--color-bg: #0d1016;
		--color-bg-hover: rgba(57, 57, 59, 1);
		--color-opposite: #ffffff;
		--color-opposite-hover: rgba(255, 255, 255, 0.7);
	
		--color-brand: #ff2400;
		--color-brand-hover: #c94632;
	
		--color-light: #1b1f28;
		--color-light-hover: rgba(255, 255, 255, 0.1);
		--color-light-hex: #2E2E30;
		--color-light-hex-hover: #454547;
	
		--color-light-seo: #ccc;
	
		--color-gray: rgba(255, 255, 255, 0.3);
	
		--bg-btn-bonus: rgba(255, 36, 0, 1);
		--bg-btn-bonus-hover: rgba(255, 36, 0, 0.9);
	
		--color-btn-primary: #fff;
		--shadow-btn-primary: 0px 8px 50px 0px rgba(255, 212, 0, 0.5);

		--color-btn-secondary: #fff;
		--bg-btn-secondary: transparent;
		--bg-btn-secondary-hover: rgba(255, 36, 0, 0.1);
		--border-btn-secondary: 1px solid rgba(255, 36, 0, 1);

		--color-btn-info: #ffffff;
		--bg-btn-info: rgba(35, 35, 37, 1);
		--bg-btn-info-hover: rgba(57, 57, 59, 1);
	
		--color-note: rgba(52, 199, 89, 1);
	
		--color-input-radio: rgba(63, 105, 255, 1);
		--color-search-border: rgba(63, 105, 255, 0.3);
		--color-search-before: linear-gradient(90deg, rgba(35, 35, 37, 0) 0%, rgba(35, 35, 37, 1) 50%, #232325 100%);
	
		--color-form-border: rgba(255, 59, 48, 0.3);
		--color-form-error: rgba(255, 59, 48, 1);
	
		--bg-video-overlay: rgba(30, 30, 30, 0.5);
	
		--br-small: 0.25rem;
		--br-large: 1rem;
		--shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.5);
	}
}


$minwidth: 320px;
$mw: 1200;
$md1: $mw;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
$fontfamily: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', sans-serif;

// --------------------------------------------------------

@import "import/null"; // Обнуляющие стили

// ===================== Оболочка =========================

.wrapper{
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	@media (max-width:#{$md3}px) {
	    overflow: hidden;/* Выше 768 мы его убираем чтобы сработал 
	    position sticky у блока .stickyBlock */
	}
}

// --------------------------------------------------------

// ================= Основная сетка =======================
.container{
	max-width: $mw+px; margin: 0 auto; width: 100%;
}
// --------------------------------------------------------

// ============== Импортируем все стили ===================

@import "import/base"; // Вертска переиспользуемых блоков
@import "import/popups"; // Попапы
@import "import/scroll"; // Скролл
@import "import/components"; // Компоненты
@import "import/site"; // Последовательная верстка всего сайта
@import "import/text"; // Для текста
@import "import/test"; // Для теста
@import "import/сustom_wp"; // Подстраиваемся под WP

// --------------------------------------------------------