:root{
    --x1_inset: -84px;
    --x1_top: -48px;
    --x1_inset_600: -50px;
    --x1_top_600: -18px;

    --x2_inset: -86px;
    --x2_top: -46px;
    --x2_inset_600: -42px;
    --x2_top_600: -16px;

    --money_inset: 63px;
    --money_top: -80px;
    --money_inset_md2: 17px;
    --money_top_md2: -86px;
    --money_inset_600: 24px;
    --money_top_600: -50px;
}

.btn_primary{
	background: linear-gradient(180deg, #734A2C 0%, #401B1E 100%);
    border: 2px solid rgba(220, 188, 130, 1);
    color: rgba(207, 157, 78, 1);
    padding: 10px 24px;
    &:hover{
        opacity: 0.9;
    }
}

.label-4{
    background: linear-gradient(180deg, #734A2C 0%, #401B1E 100%);
    border: 2px solid rgba(220, 188, 130, 1);
    svg use {fill: #CF9D4E;}
}