:root {
    --color-bg: #0d1016;
    --color-bg-hover: rgba(57, 57, 59, 1);
    --color-opposite: #ffffff;
    --color-opposite-hover: rgba(255, 255, 255, 0.7);
    --color-opposite-hex-hover: #D3D3D3;

    --color-brand: #ff2400;
    --color-brand-hover: #c94632;

    --color-light: #1b1f28;
    --color-light-hover: rgba(255, 255, 255, 0.1);
    --color-light-hex: #1B1F28;
    --color-light-hex-hover: #454547;

    --color-light-seo: #ccc;

    --color-gray: rgba(255, 255, 255, 0.3);

    --bg-btn-bonus: rgba(255, 36, 0, 1);
    --bg-btn-bonus-hover: rgba(255, 36, 0, 0.9);

    --color-btn-primary: #fff;
    --shadow-btn-primary: 0px 8px 50px 0px rgba(255, 212, 0, 0.5);

    --color-btn-secondary: #fff;
    --bg-btn-secondary: transparent;
    --bg-btn-secondary-hover: rgba(255, 36, 0, 0.1);
    --border-btn-secondary: 1px solid rgba(255, 36, 0, 1);

    --color-btn-info: #ffffff;
    --bg-btn-info: transparent;
    --bg-btn-info-hover: rgba(255, 36, 0, 0.1);
    --border-btn-info: 1px solid rgba(255, 36, 0, 1);

    --color-note: rgba(52, 199, 89, 1);

    --color-input-radio: rgba(63, 105, 255, 1);
    --color-search-border: rgba(63, 105, 255, 0.3);

    --color-form-border: rgba(255, 59, 48, 0.3);
    --color-form-error: rgba(255, 59, 48, 1);

    --bg-video-overlay: rgba(30, 30, 30, 0.5);

    --br-small: 0.25rem;
    --br-large: 1rem;
    --shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.5);
    --shadow-2-start-rgb: 13,16,22;
    --shadow-2-end-hex: #0d1016;
}