.popup{
	width: 100%;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	&.isOpen{
		opacity: 1;
		visibility: visible;
		z-index: 1000;
	}
	&__body {
		width: 360px;
		position: relative;
		border-radius: 12px;
		background-color: $black;
		box-shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.5);
	}
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		//border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	}
	&__content{
		padding: 0 16px 16px 16px;
	}
}

////////// Стили для каждого попапа отдельно ////////////

#language {
	width: 360px;
	top: 65px;
	left: 5px;
}