.popup{
	width: 360px;
	position: fixed;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	@media (max-width:#{$md3}px) {
		bottom: 0;
		width: 100%;
		transform: translateY(100%);
	}
	&.isOpen{
		opacity: 1;
		visibility: visible;
		z-index: 60;
		@media (max-width:#{$md3}px) {
			animation: showModal 0.15s forwards 0s linear;
		}
	}
	&__body {
		width: 360px;
		position: relative;
		border-radius: 12px;
		background-color: $black;
		box-shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.5);
		@media (max-width:#{$md3}px) {
			width: 100%;
		}
	}
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		//border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	}
	&__content{
		padding: 0 16px 16px 16px;
		max-height: 65vh;
		overflow-y: auto;
		@media (max-width:#{$md3}px) {
			max-height: 75vh;
		}
	}
	&_centered{
		@media (min-width:#{$md3}px) {
			width: 540px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.popup__body{
				width: 540px;
				padding: 16px;
			}
			.popup__content{
				padding: 16px;
			}
		}
	}
}

////////// Стили для каждого попапа отдельно ////////////

#language {
	&.mod2{
		z-index: 29;
		position: absolute;
	}
}

#problem_1{
	.popup__content{
		padding: 0;
	}
}