/////////////////////////// Кнопки ////////////////////////

.btn{
    display: inline-block;
    text-align: center;
    font-weight: 700;
    border-radius: var(--br-small);
    padding: 12px 24px;
    @media (max-width:#{$md3}px) {
        @if($theme == 'mines' or $theme == "towerX" or $theme == "jetX" or $theme == "mineIsland" or $theme == "footballX" or $theme == "hilo" or $theme == "goal" or $theme == "penalty" or $theme == "plinko" or $theme == "spaceXY" or $theme == "spaceman" or $theme == "aviatrix" or $theme == "luckyJet" or $theme == "thimbles"){
            padding: 12px 16px;
        } @else {
            padding: 8px 16px;
        }
        
    }
    &.disabled{
        opacity: 0.5;
        pointer-events: none;
    }
    &_primary{
        @if($theme == 'mines' or $theme == "towerX" or $theme == "jetX" or $theme == "mineIsland" or $theme == "footballX" or $theme == "hilo" or $theme == "goal"){
            color: #fff;
            position: relative;
            @if($theme == 'mines'){
                background: linear-gradient(119.59deg, #F7A915 0%, #F27012 100%) padding-box, 
                linear-gradient(180deg, #ED9412 0%, #B4450B 100%) border-box;
            }
            @if($theme == 'towerX'){
                background: linear-gradient(119.59deg, #FDA0FF 0%, #DD1DDD 100%) padding-box, 
                linear-gradient(96.44deg, #D629D4 0%, #FDD8FF 100%) border-box;
            }
            @if($theme == "jetX"){
                background: linear-gradient(119.59deg, #FF79C5 0%, #BE0A73 100%) padding-box, 
                linear-gradient(96.44deg, #FFD5FE 0%, #46E6B5 100%) border-box;
            }
            @if($theme == "mineIsland"){
                background: linear-gradient(119.59deg, #6AD0FF 0%, #375FDC 100%) padding-box, 
                linear-gradient(96.44deg, #CFEDFC 0%, #8DB6FC 100%) border-box;
            }
            @if($theme == "footballX"){
                background: linear-gradient(119.59deg, #E1CE00 0%, #FF9D00 100%) padding-box, 
                linear-gradient(96.44deg, #C88616 0%, #FFFFB1 100%) border-box;
            }
            @if($theme == "goal"){
                background: radial-gradient(50% 88.04% at 50% 50%, #8ED32D 0%, #2D7500 100%) padding-box, 
                linear-gradient(96.44deg, #084300 0%, #2A7B36 100%) border-box;
            }
            @if($theme == "hilo"){
                background: radial-gradient(50% 88.04% at 50% 50%, #8ED32D 0%, #2D7500 100%) padding-box, 
                linear-gradient(96.44deg, #084300 0%, #2A7B36 100%) border-box;
            }
            border: 2px solid transparent;
            padding: 10px 24px;
            @media (max-width:#{$md3}px) {
                padding: 10px 16px;
            }
            &:hover{
                opacity: 0.9;
            }
        } @else if ($theme == "plinko" or $theme == "spaceXY" or $theme == "spaceman" or $theme == "aviatrix" or $theme == "penalty" or $theme == "luckyJet" or $theme == "thimbles"){
            @if($theme == "plinko" or $theme == "spaceXY"){
                background: linear-gradient(90deg, #FED317 0%, #FCA400 100%);
                box-shadow: 0px 2px 0px 0px rgba(165, 58, 0, 1);
                color: var(--color-bg);
            }
            @if($theme == "penalty" or $theme == "thimbles"){
                background: linear-gradient(90deg, #FEFF00 0%, #FFBE00 100%);
                box-shadow: 0px 2px 0px 0px rgba(224, 73, 0, 1);
                color: var(--color-bg);
            }
            @if($theme == "luckyJet"){
                background: linear-gradient(90deg, #5C24FC 0%, #944EF5 100%);
                box-shadow: 0px 10px 20px 0px rgba(25, 201, 245, 0.1), 0px 10px 20px 0px rgba(92, 36, 252, 0.1), 0px -2px 4px 0px rgba(148, 78, 245, 1) inset, 0px -8px 8px 0px rgba(148, 78, 245, 0.6) inset;
            }
            @if($theme == "aviatrix"){
                background: linear-gradient(90deg, #FF5621 0%, #FFA621 100%);
            }
            @if($theme == "spaceman"){
                background: linear-gradient(90deg, #FFCC00 0%, #FF9721 100%);
                box-shadow: 0px 2px 0px 0px rgba(255, 0, 208, 1);
                color: var(--color-bg);
            }
            &:hover{
                opacity: 0.9;
            }
        } @else {
            background: var(--color-brand);
            color: var(--color-btn-primary);
            &:hover{
                background: var(--color-brand-hover);
            }
        }
    }
    &_secondary{
        background: var(--bg-btn-secondary);
        color: var(--color-btn-secondary);
        border: var(--border-btn-secondary);
        &:hover{
            background-color: var(--bg-btn-secondary-hover);
        }
    }
    &_info{
        background: var(--bg-btn-info);
        color: var(--color-btn-info);
        border: var(--border-btn-info);
        &:hover:not(.disabled){
            background: var(--bg-btn-info-hover);
        }
        @if($theme == 'balloon' or $theme == 'mines' or $theme == "towerX" or $theme == "jetX" or $theme == "mineIsland" or $theme == "footballX" or $theme == "hilo" or $theme == "goal" or $theme == "penalty" or $theme == "plinko" or $theme == "spaceXY" or $theme == "spaceman" or $theme == "aviatrix" or $theme == "luckyJet" or $theme == "thimbles"){
            background: rgba(255, 255, 255, 0.3);
            &:hover:not(.disabled){
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }
    &_animated{
        @if($theme == 'default' or $theme == 'pin-up' or $theme == 'light' or $theme == 'balloon'){
            box-shadow: var(--shadow-btn-primary);
        }
        position: relative;
        overflow: hidden;
        &:after{
            content: "";
            position: absolute;
            top: -20px;
            inset-inline-start: -75px;
            width: 15px;
            height: 80px;
            transform: rotate(45deg);
            background: var(--color-gray);
            animation: btnLine 2s linear 0s infinite;
        }
    }
    @if($theme == 'light'){
        &_outline{
            border: 1px solid rgba(255, 255, 255, 1);
            background: transparent;
            color: #fff;
            &:hover{
                background: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

@keyframes btnLine {
    0%{ inset-inline-start: -75px;}
    25%{inset-inline-start: 120%;}
    100%{inset-inline-start: 120%;}
}


.btn-2{
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-opposite);
    background-color: var(--color-light);
    &:hover{
        background-color: var(--color-light-hover);
    }
    svg use{
        fill: if($theme == 'light', #232325, white);
    }
}

.btn-4{
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--color-opposite);
    &:hover{
        background-color: var(--color-light);
    }
    @if($theme == "default" or $theme == "pin-up" or $theme == "balloon" or $theme == "mines" or $theme == "towerX" or $theme == "jetX" or $theme == "mineIsland" or $theme == "footballX" or $theme == "hilo" or $theme == "goal" or $theme == "penalty" or $theme == "plinko" or $theme == "spaceXY" or $theme == "spaceman" or $theme == "aviatrix" or $theme == "luckyJet" or $theme == "thimbles"){
        @media (max-width:#{$md3}px) {
            background-color: var(--color-light);
            border-radius: 0;
        }
    }
    @if($theme == 'light'){
        @media (max-width:#{$md3}px) {
            padding: 8px 0;
            &:hover{
                background-color: transparent;
            }
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    &__img{
        height: 24px;
        display: flex;
        align-items: center;
        flex: 0 0 100px;
        img{
            height: 100%;
            max-width: 100px;
            object-fit: contain;
        }
        @media (max-width:#{$md3}px) {
            flex: 0 0 33%;
        }
        @if($theme == 'light'){
            background-color: var(--color-opposite);
            padding: 8px;
            border-radius: 8px;
            height: 48px;
            width: 100px;
            img{
                max-width: 84px;
                margin: 0 auto;
            }
        }
    }
}

.btn-5{
    display: flex;
    align-items: center;
    gap: 8px;
    @if($theme == 'light'){
        background-color: rgba(255, 255, 255, 0.3);
        color: var(--color-bg);
        border-radius: 8px;
        padding: 8px;
        fill: var(--color-bg);
        &:hover{
            background-color: rgba(255, 255, 255, 0.5);
        }
        @media (max-width:860px) {
            background-color: transparent;
            &:hover{
                color: rgba(255, 255, 255, 0.8);
                fill: rgba(255, 255, 255, 0.8);
                background-color: transparent;
            }
            padding: 0;
            margin-top: -8px;
            margin-bottom: 0;
            margin-inline: 0 -8px;
        }
    } @else {
        color: var(--color-opposite);
        fill: var(--color-opposite);
        background-color: transparent;
        &:hover{
            color: var(--color-gray);
            fill: var(--color-gray);
        }
    }
}

.btn-6{
    font-weight: 700;
    color: var(--color-opposite);
    background-color: transparent;
    &:hover{
        text-decoration: underline;
    }
}

.btnDemo{
    font-weight: 700;
    &[href=""], &:not([href]){
        text-decoration: underline;
        text-decoration-style: dashed;
        text-underline-offset: 4px;
    }
}

.btn-dropdown{
    background-color: transparent;
    color: var(--color-opposite);
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: var(--br-small);
    &:hover{
        background-color: var(--color-light);
    }
    &_filled{
        padding: 8px;
        background: var(--color-light);
        &:hover{
            background-color: var(--color-light-hover);
        }
    }
    &.mod-download-app{
        @media (min-width:#{$md3}px) {
            svg{
                display: none;
            }
        }
    }
}

.btn-round{
    @extend .btn-dropdown_filled;
    border-radius: 99px;
    svg use{
        fill: var(--fill-icon-secondary);
    }
    @if($theme == 'light'){
        background: var(--color-brand);
        &:hover{
            background: var(--color-brand-hover);
        }
    }
    &_white{
        background-color: var(--color-opposite);
        &:hover{
            background-color: var(--color-opposite-hex-hover);
        }
    }
}

////////////////////////// Ссылки /////////////////////////

.linkApp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-light);
    border-radius: var(--br-small);
    padding-block: 16px;
    padding-inline: 16px 8px;
    &:hover{
        background-color: var(--color-light-hover);
    }
    &_windows{
        height: 100%;
        .linkApp__mod{
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .ml-8{
                margin-inline-start: 0;
            }
        }
    }
}

.link-2{
    background: var(--color-light);
    border-radius: 8px;
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    @extend .f-jcc-aic;
}

.link-3{
    background-color: var(--color-light);
    border-radius: var(--br-small);
    color: var(--color-opposite);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    &:hover{
        background: var(--color-light-hover);
    }
}

.linkSocial{
    background-color: var(if($theme == "light", --color-opposite, --color-bg));
    border-radius: var(--br-small);
    padding: 4px;
    display: inline-block;
    &_instagram{
        background: linear-gradient(262.93deg, #7E2BF4 0%, #ED146E 50%, #FFC90C 100%);
    }
    &_facebook{
        background: rgba(8, 102, 255, 1); /* immutable */
    }
    &_linkedin{
        background: rgba(10, 102, 194, 1); /* immutable */
    }
    &_gray{
        background-color: var(--color-light);
        &:hover{
            background-color: var(--color-light-hover);
        }
    }
}

.link-default{
    &:hover{
        text-decoration: underline;
    }
}

.child-link-default{
    a:hover{
        text-decoration: underline;
    }
}

///////////////////////// Таблицы /////////////////////////

.table-2{
    th{
        @media (min-width:530px) {
            width: 230px;
        }
    }
}

/////////////// Ховер подсказки (маленькие) ///////////////

.tooltip{
    position: relative;
    &:hover{
        .tooltip__body{
            transition: 0s ease 0.15s;
            opacity: 1;
            visibility: visible;
        }
    }
    &__body{
        bottom: 24px;
        inset-inline-end: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 12;
        padding-bottom: 8px;
    }
    &__content{
        background-color: var(--color-bg);
        box-shadow: var(--shadow);
        padding: 16px;
        border-radius: 12px;
        width: 200px;
    }
    &_top{
        .tooltip__body{
            bottom: 68px;
        }
    }
}

///////////////// Ховер подсказки (попапы) ////////////////

.popover{
    position: relative;
    @media (min-width:#{$md3}px) {
        &-popup__body{
            border-radius: 12px;
            padding: 16px;
            background-color: var(--color-bg);
            box-shadow: var(--shadow);
            width: 360px;
            max-height: 75vh;
            overflow-y: auto;
        }
        &-popup{
            position: absolute;
            top: 40px;
            padding-top: 8px;
            opacity: 0;
            visibility: hidden;
            &:not(.mod-left){
                @media (max-width:1310px) {
                    inset-inline-start: -100px;
                }
            }
        }
        &:hover, &.active{
            > .popover-trigger{
                background-color: var(--color-light);
            }
            > .popover-popup{
                transition: 0s ease 0.15s;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    @media (max-width:#{$md3}px) {
        border-radius: var(--br-small);
        overflow: hidden;
        .popover-popup{
            display: none;
        }
        .btn-dropdown{
            border-radius: 0;
        }
        .popover-popup__body{
            > * {
                border-top: 1px solid var(--color-bg);
            }
        }
        &.active{
            .btn-dropdown svg{
                transition: 0.15s ease;
                transform: rotate(180deg);
            }
        }
    }
    &-popup_mod-width-2{
        @media (min-width:#{$md3}px) {
            .popover-popup__body{
                width: 532px;
            }
        }
    }
}

/// Элементы которые превращаются в попапы на мобилках ////

.modal{
    &__body{
        @media (max-width:#{$md3}px) {
            display: none;
            &.active{
                display: block;
                animation: showModal 0.15s forwards 0s linear;
                transform: translateY(100%);
                position: fixed;
                bottom: 0;
                inset-inline-start: 0;
                width: 100%;
                max-height: 75vh;
                overflow-y: auto;
                z-index: 55;
                background-color: var(--color-bg);
                padding: 0px 16px 16px 16px;
                border-radius: 12px 12px 0 0;
                > *:not(:last-child):not(.modal__header){
                    margin-bottom: 16px;
                }
            }
            .btn-dropdown{
                background-color: var(--color-light);
                width: 100%;
                justify-content: space-between;
                padding: 16px;
                font-weight: 400;
            }
        }
    }
    &__header{
        position: sticky;
        top: 0;
        background-color: var(--color-bg);
        z-index: 12;
        padding: 16px 0;
        @media (min-width:#{$md3}px) {
            display: none;
        }
    }
}

.bgOverlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    inset-inline-start: 0;
    z-index: 52;
    background-color: rgba(0, 0, 0, 0.5); /* immutable */
    backdrop-filter: blur(5px);
    &.active{
        display: block;
    }
}

@keyframes showModal {
    from{transform: translateY(100%);}
    to{transform: translateY(0%);}
}

////////////////// Карточки, контейнеры ///////////////////

.card-1{
    padding: 16px;
    border-radius: var(--br-small);
    background-color: var(--color-light);
    height: 100%;
}

.card-2{
    padding: 32px;
    border-radius: var(--br-large);
    background-color: if($theme == "light", #fff, var(--color-light));
    @if $theme == 'light' {
        box-shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.2);
    }
    @media (max-width:#{$md3}px) {
        padding: 16px;
    }
}

.containerGame {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 16px; /* зазор между элементами */
    @media (max-width:#{$md3}px) {
        grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    }
    &_col-2{
        grid-template-columns: 1fr 1fr;
        @media (max-width:#{$md3}px) {
           display: flex;
        }
    }
    &_col-3{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.cardGame{
    @extend .nlc-mb-8;
    flex: 1 0 156px;
    display: block;
    &__image{
        display: inline-block;
        width: 100%;
        position: relative;
        padding-top: 76.81%;
        overflow: hidden;
        border-radius: var(--br-small);
        img{
            @extend .posa;
        }
    }
    &:hover{
        img{
            transition: ease-in 0.1s;
            transform: scale(1.05);
        }
    }
    &_viewPortrait{
        .cardGame__image{
            padding-top: 123.07%;
        }
    }
}

.cardApp{
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    position: relative;
    gap: 8px;
    &_blue{
        background: linear-gradient(85.83deg, #38A8FA 1.14%, #0167CA 100%);
    }
    &_gradient{
        background: linear-gradient(85.83deg, #004DB8 1.14%, #F14624 100%);
    }
    @if($theme == 'light'){
        color: var(--color-bg);
    }
}

.label{
    position: absolute;
    inset-inline-start: 32px;
    top: -13px;
    display: flex;
    align-items: center;
    background: var(if($theme == "light", --color-opposite, --color-bg));
    color: var(if($theme == "light", --color-bg, --color-opposite));
    padding: 4px 12px;
    border-radius: var(--br-small);
    font-weight: 700;
    border: 1px solid var(--color-gray);
    @extend .text-small;
    img{
        display: inline-block;
        margin-inline-end: 10px;
    }
    @media (max-width:#{$md3}px) {
        inset-inline-start: 16px;
    }
    &_pos-static{
        position: static;
    }
}

.label-2{
    display: inline-block;
    background-color: var(--color-bg);
    color: var(--color-opposite);
    padding: 4px 12px;
    border-radius: var(--br-small);
    font-weight: 700;
    border: 1px solid var(--color-gray);
    @extend .text-small;
}

.label-4{
    padding: 8px 16px;
    border-radius: var(--br-small);
    html[dir="rtl"] &{
        svg {
            transform: rotate(180deg);
        }
    }
    svg use{
        fill: #fff;
    }
    @if($theme == 'light'){
        background-color: var(--color-opposite);
        padding: 12px;
    } @else {
        background-color: rgba(52, 199, 89, 1);
    }
    @if($theme == 'mines' or $theme == "towerX" or $theme == "jetX" or $theme == "mineIsland" or $theme == "footballX" or $theme == "hilo" or $theme == "goal"){
        @if($theme == 'mines'){
            background: linear-gradient(119.59deg, #F7A915 0%, #F27012 100%) padding-box, 
            linear-gradient(180deg, #ED9412 0%, #B4450B 100%) border-box;
        }
        @if($theme == 'towerX'){
            background: linear-gradient(119.59deg, #FDA0FF 0%, #DD1DDD 100%) padding-box, 
            linear-gradient(96.44deg, #D629D4 0%, #FDD8FF 100%) border-box;
        }
        @if($theme == "jetX"){
            background: linear-gradient(119.59deg, #FF79C5 0%, #BE0A73 100%) padding-box, 
            linear-gradient(96.44deg, #FFD5FE 0%, #46E6B5 100%) border-box;
        }
        @if($theme == "mineIsland"){
            background: linear-gradient(119.59deg, #6AD0FF 0%, #375FDC 100%) padding-box, 
            linear-gradient(96.44deg, #CFEDFC 0%, #8DB6FC 100%) border-box;
        }
        @if($theme == "footballX"){
            background: linear-gradient(119.59deg, #E1CE00 0%, #FF9D00 100%) padding-box, 
            linear-gradient(96.44deg, #C88616 0%, #FFFFB1 100%) border-box;
        }
        @if($theme == "goal"){
            background: radial-gradient(50% 88.04% at 50% 50%, #8ED32D 0%, #2D7500 100%) padding-box, 
            linear-gradient(96.44deg, #084300 0%, #2A7B36 100%) border-box;
        }
        @if($theme == "hilo"){
            background: radial-gradient(50% 88.04% at 50% 50%, #8ED32D 0%, #2D7500 100%) padding-box, 
            linear-gradient(96.44deg, #084300 0%, #2A7B36 100%) border-box;
        }
        border: 2px solid transparent;
        svg use{
            fill: #232325;
        }
    } @else if ($theme == "plinko" or $theme == "spaceXY" or $theme == "spaceman" or $theme == "aviatrix" or $theme == "penalty" or $theme == "luckyJet" or $theme == "thimbles"){
        @if($theme == "plinko" or $theme == "spaceXY"){
            background: linear-gradient(90deg, #FED317 0%, #FCA400 100%);
            box-shadow: 0px 2px 0px 0px rgba(165, 58, 0, 1);
            svg use{ fill: #232325; }
        }
        @if($theme == "penalty" or $theme == "thimbles"){
            background: linear-gradient(90deg, #FEFF00 0%, #FFBE00 100%);
            box-shadow: 0px 2px 0px 0px rgba(224, 73, 0, 1);
            svg use{ fill: #232325; }
        }
        @if($theme == "luckyJet"){
            background: linear-gradient(90deg, #5C24FC 0%, #944EF5 100%);
            box-shadow: 0px 10px 20px 0px rgba(25, 201, 245, 0.1), 0px 10px 20px 0px rgba(92, 36, 252, 0.1), 0px -2px 4px 0px rgba(148, 78, 245, 1) inset, 0px -8px 8px 0px rgba(148, 78, 245, 0.6) inset;
        }
        @if($theme == "aviatrix"){
            background: linear-gradient(90deg, #FF5621 0%, #FFA621 100%);
            svg use{ fill: #232325; }
        }
        @if($theme == "spaceman"){
            background: linear-gradient(90deg, #FFCC00 0%, #FF9721 100%);
            box-shadow: 0px 2px 0px 0px rgba(255, 0, 208, 1);
            svg use{ fill: #232325; }
        }
    }
}

//////////////////////// Поля input ///////////////////////

.searchField{
    position: relative;
    height: 40px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    &__input{
        display: none;
        position: absolute;
        inset-inline-end: 0;
        top: 0;
        input{
            position: relative;
            z-index: 2;
            border: 2px solid var(--color-search-border);
            border-radius: 8px;
            width: 328px;
            height: 40px;
            background-color: var(--color-bg);
            padding: 8px 36px;
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            inset-inline-start: -40px;
            width: 60px;
            height: 40px;
            --deg: 90deg;
            html[dir="rtl"] & {
                --deg: -90deg;
            }
            background: linear-gradient(var(--deg), rgba(var(--shadow-2-start-rgb), 0) 0%, rgba(var(--shadow-2-start-rgb), 1) 50%, var(--shadow-2-end-hex) 100%);
        }
    }
    &__icon{
        position: absolute;
        z-index: 3;
        top: 8px;
        inset-inline-start: 8px;
        use{
            fill: var(--fill-icon-primary);
        }
    }
    &__close{
        background-color: transparent;
        outline: none;
        position: absolute;
        z-index: 3;
        inset-inline-end: 8px;
        top: 8px;
    }
    @media (max-width:#{$md3}px) {
        &__input{
            display: block;
            width: 100%;
            input{
                border-color: var(--color-light);
                width: 100%;
            }
        }
        &__open{
            display: none;
        }
        &__close{
            display: none;
        }
    }
    &.active{
        .searchField__input{
            display: block;
        }
        .searchField__open{
            display: none;
        }
        svg use{
            fill: var(--fill-icon-primary);
        }
    }
}

.inputText{
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--color-light);
}

.inputRadio{
	input[type="radio"]{
		visibility: hidden;
		display: none;
	}
	input[type="radio"] + label{
		display: flex;
		align-items: center;
        padding-block: 19px;
        padding-inline: 56px 16px;
		border-radius: 8px;
		position: relative;
		cursor: pointer;
		&:after, &:before{
			content: "";
			position: absolute;
			border-radius: 50%;
		}
		&:after{
			top: calc(50% - 12px);
			inset-inline-start: 16px;
			width: 24px;
			height: 24px;
			border: 2px solid var(--color-gray);
		}
        &:hover{
            @media (min-width:#{$md3}px) {
                background-color: var(--color-light);
            }
        }
	}
	input[type="radio"]:checked + label{
		&:after{
			border-color: var(--color-input-radio);
		}
        &:before{
			z-index: 2;
			top: calc(50% - 6px);
			inset-inline-start: 22px;
			width: 12px;
			height: 12px;
			background-color: var(--color-input-radio);
		}
	}
}

.inputCheckbox{
	> * {
		cursor: pointer;
	}
	input[type="checkbox"]{
		visibility: hidden;
		display: none;
	}
	input[type="checkbox"] + label{
		display: flex;
		align-items: center;
		span{
			padding-inline-start: 8px;
		}
        svg use{
            fill: #626262;
        }
		.state-2{visibility: hidden;}
	}
	input[type="checkbox"]:checked + label{
		.state-1{visibility: hidden;}
		.state-2{visibility: visible;}
        svg use{
            fill: if($theme == "light", var(--fill-icon-primary), #fff);
        }
	}
}

///////////////////// breadcrumbs //////////////////////////

.breadcrumbs {
    margin: -4px auto;
	&__link {
        padding: 4px 0;
		&:not(:first-child){
			padding-inline-start: 40px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				top: calc(50% - 12px);
				inset-inline-start: 8px;
				width: 24px;
				height: 24px;
				background-image:  url(if($theme == "light", "../img/css-bg-image/chevron_down.svg", "../img/css-bg-image/chevron_down_1.svg"));
                background-position: 50% 50%;
                html[dir="rtl"] & {
                    transform: rotate(180deg);
                }
			}
		}
        &:last-child{
            font-weight: if($theme == "light", 400, 700);
        }
        &:not(:last-child){
            color: var(--color-light-seo);
        }
	}
}

/////////////////////////// Списки ///////////////////////////////

.listComparison{
    li{
        display: flex;
        align-items: center;
        gap: 16px;
		&:before{
			content: "";
			width: 24px;
			height: 24px;
            flex: 0 0 24px;
			background-image: url("../img/css-bg-image/plus.svg");
        }
        &:not(:last-child){
            margin-bottom: 16px;
        }
	}
    &_negative li:before{
        background-image: url(if($theme == "light", "../img/css-bg-image/minus_light.svg", "../img/css-bg-image/minus.svg"));
    }
}

.tagsList{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    @media (max-width:#{$md3}px) {
        gap: 16px;
    }
    li{
        background-color: var(if($theme == "light", --color-opposite, --color-light));
        @if($theme == 'light'){
            color: var(--color-bg);
        }
        padding: 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        &:before{
            content: "";
            width: 8px;
            height: 8px;
            flex: 0 0 8px;
            background-color: rgba(52, 199, 89, 1);
            border-radius: 99px;
        }
        @media (max-width:#{$md4}px) {
            flex: 0 0 100%;
        }
    }
}

/////////////////// Стилизация скроллбара /////////////////////

.scroll-styled{
    -webkit-overflow-scrolling:touch;
    @media (min-width: #{$md3}px){
      ::-webkit-scrollbar {
        width: 12px; /* ширина для вертикального скролла */
        height: 12px; /* высота для горизонтального скролла */
        background-color: var(--color-opposite);
      }
  
      /* ползунок скроллбара */
      ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); /* immutable */
        border-radius: 4px;
      }
  
      ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5); /* immutable */
      }
  
      // Для FireFox
      scrollbar-color: #232325 var(--color-light-hex); /* «цвет ползунка» «цвет полосы скроллбара» */
      scrollbar-width: thin;
    }
}

////////////////////////// Прочее /////////////////////////

.vertical-divider{
    width: 1px;
    flex: 0 0 1px;
    height: 100%;
    background-color: var(--color-opposite);
}

.logo{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    img{
        @if $theme == "balloon" {
            height: 58px;
        } @else if $theme == "mines" or $theme == "towerX" or $theme == "jetX" or $theme == "mineIsland" or $theme == "footballX" or $theme == "hilo" or $theme == "goal" or $theme == "plinko" or $theme == "thimbles" {
            height: 40px;
        } @else if $theme == "penalty" {
            height: 28px;
        } @else if $theme == "spaceman" {
            height: 40px;
            @media (max-width:#{$md4}px) {
                height: 28px;
                width: 139px;
            }
            @media (max-width:420px) {
                height: 22px;
                width: 109px;
            }
        } @else if $theme == "aviatrix" {
            height: 40px;
            @media (max-width:420px) {
                height: 24px;
                width: 94px;
            }
        } @else if $theme == "spaceXY" {
            height: 40px;
            @media (max-width:420px) {
                height: 32px;
                width: 111px;
            }
        } @else if $theme == "luckyJet" {
            height: 40px;
            @media (max-width:420px) {
                height: 30px;
                width: 117px;
            }
        } @else {
            height: 24px;
        }
    }
}

@if($theme == 'light'){
    .logoText{
        height: 11px;
        padding: 0 6px;
        transform: skew(-20deg);
    
        background-color: #E50539;
        font-size: 10px;
        line-height: 12px;
        font-weight: 700;
        font-style: italic;
        color: white;
    } 
}

.promocode{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background-color: var(--color-light);
    color: var(--color-light-seo);
    padding: 4px 12px;
    border-radius: 8px;
    svg use {
        fill: #fff;
    }
    &:hover{
        background-color: var(--color-light-hover);
    }
    &_mod{
        border: 1px solid var(--color-opposite);
        background-color: var(--color-bg);
        color: var(--color-opposite);
        svg use {
            fill: var(--color-opposite);
        }
    }
}

.copied{
	position: fixed;
	bottom: 16px;
	left: 50%;
    transform: translate(-50%, 130%);
	background-color: var(--color-bg);
	color: var(--color-opposite);
	padding: 16px;
	border-radius: 8px;
	text-align: center;
	z-index: 45;
    border: 1px solid var(--color-light);
    &.show{
        animation: showMsg 0.25s ease-in-out 0s forwards;
    }
    &.hide{
        animation: hideMsg 0.25s ease-in-out 0s forwards;
    }
}

@keyframes showMsg {
    from{transform: translate(-50%, 130%);}
    to{transform: translate(-50%, 0%);}
}

@keyframes hideMsg {
    0%{transform: translate(-50%, 0%);}
    30%{transform: translate(-50%, -30%);}
    100%{transform: translate(-50%, 130%);}
}

.table-auto-scroll{
    overflow-x: auto;
}

.quoteWarning{
    @extend .nlc-mb-16;
    padding-block: 32px;
    padding-inline: 112px 32px;
    border-radius: 16px;
    background: if($theme == "light", linear-gradient(90deg, #FFF173 0%, #FFB800 100%), linear-gradient(90deg, rgba(255, 241, 115, 0.05) 0%, rgba(255, 184, 0, 0.05) 100%));
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 32px;
        inset-inline-start: 32px;
        @if($theme == 'light'){
            width: 32px;
            height: 28px;
        } @else {
            width: 48px;
            height: 48px;
        }
        background-image: url(if($theme == "light", "../img/css-bg-image/attention.svg", "../img/css-bg-image/attention_1.svg"));
    }
    @media (max-width:#{$md3}px) {
        padding: 80px 16px 16px 16px;
        &:before{
            top: 16px;
            inset-inline-start: 16px;
        }
    }
    &.mod-info{
        padding-block: 16px;
        padding-inline: 80px 16px;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:before{
            top: 16px;
            inset-inline-start: 16px;
            @if($theme == 'light'){
                width: 48px;
                height: 48px;
            }
            background-image: url(if($theme == "light", "../img/css-bg-image/info.svg", "../img/css-bg-image/info_1.svg"));
        }
    }
}

.quote{
    @extend .nlc-mb-32;
    padding: 32px 112px;
    position: relative;
    &:before, &:after{
        content: "";
        position: absolute;
        width: 48px;
        height: 48px;
        background-image: url(if($theme == "light", "../img/css-bg-image/quote.svg", "../img/css-bg-image/quote_white.svg"));
    }
    &:before{
        top: 0;
        inset-inline-start: 32px;
    }
    &:after{
        bottom: 0;
        inset-inline-end: 32px;
    }
    @media (max-width:#{$md3}px) {
        padding: 56px 16px;
        > *:not(:last-child):not(.not-nlc){
            margin-bottom: 16px;
        }
        &:before, &:after{
            background-image: url(if($theme == "light", "../img/css-bg-image/quote_min.svg", "../img/css-bg-image/quote_white_min.svg"));
            width: 24px;
            height: 24px;
        }
        &:before{
            inset-inline-start: 16px;
        }
        &:after{
            inset-inline-end: 16px;
        }
    }
}

.styledContent{
    --space-bottom: 32px;
    padding: 0 16px;
    > p{
        line-height: 170%;
        margin-bottom: var(--space-bottom);
    }
	> h1{
		@extend .text-big;
        margin-bottom: var(--space-bottom);
	}
    > h2{
		@extend .text-medium;
        margin-bottom: var(--space-bottom);
	}
	> h3{
		@extend .bold;
        margin-bottom: var(--space-bottom);
	}
    > h4{
        @extend .text-small;
		@extend .bold;
        margin-bottom: var(--space-bottom);
	}
    > h5, h6{
        @extend .text-micro;
		@extend .bold;
        margin-bottom: var(--space-bottom);
	}
	> a:not([class]) {
        display: inline-block;
		text-decoration: underline;
	}
    > a{
        margin-bottom: var(--space-bottom);
    }

    .p-40-md3-16, .firstScreen.p-16{
        padding-inline-end: 0 !important;
        padding-inline-start: 0 !important;
    }

    > ul, > ol {
        margin-bottom: var(--space-bottom);
    }

    .quoteWarning{
        margin-bottom: var(--space-bottom);
    }

    .quoteWarning p{
        line-height: 170%;
    }

    .quote{
        margin-bottom: var(--space-bottom);
    }

    .table-auto-scroll{
        margin-bottom: var(--space-bottom);
    }
}

// Общее для двух списков
ul.list, .styledContent > ul, ol.list, .styledContent > ol{
    li{
		padding-inline-start: 32px;
        display: flex;
        align-items: center;
        @media (max-width:#{$md3}px) {
            padding-inline-start: 16px;
        }
        &:not(:last-child){
            margin-bottom: 16px;
        }
	}
}

ul.list, .styledContent > ul{
	li{
        gap: 16px;
		&:before{
			content: "";
            flex: 0 0 8px;
			width: 8px;
			height: 8px;
			background: var(--color-brand);
			border-radius: 99px;
		}
	}
}

ol.list, .styledContent > ol{
	counter-reset: myCounter;
	li{
        gap: 12px;
		&:before{
			content: counter(myCounter)".";
			counter-increment: myCounter;
			@extend .bold;
		}
	}
}

///////////////////////////////////////////////////////////