/////////////////////////// Кнопки ////////////////////////

@mixin btn(){
    display: inline-block;
    text-align: center;
    font-weight: 700;
    border-radius: 8px;
    padding: 12px 24px;
    @media (max-width:#{$md3}px) {
        padding: 8px 16px;
    }
    &.disabled{
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn{
    @include btn();
    &_blue{
        background: var(--bg-btn-secondary);
        color: var(--color-btn-secondary);
        border: var(--border-btn-secondary);
        &:hover{
            background-color: var(--bg-btn-secondary-hover);
        }
    }
    &_green{
        background: var(--color-brand);
        color: var(--color-btn-primary);
        box-shadow: 0px 8px 50px 0px rgba(255, 212, 0, 0.5); /* immutable */
        position: relative;
        overflow: hidden;
        &:after{
            content: "";
            position: absolute;
            top: -20px;
            left: -75px;
            width: 15px;
            height: 80px;
            transform: rotate(45deg);
            background: var(--color-gray);
            animation: btnLine 2s linear 0s infinite;
        }
        &:hover{
            background: var(--color-brand-hover);
        }
    }
}

.btn-3{
    @include btn();
    &_white{
        background: var(--color-opposite);
        color: var(--color-bg);
        &:hover:not(.disabled){
            background-color: var(--bg-btn-secondary-hover);
        }
    }
    &_green{
        background: var(--color-brand);
        color: var(--color-bg);
        &:hover:not(.disabled){
            background: var(--color-brand-hover);
        }
    }
    &_black{
        background: var(--color-bg);
        color: var(--color-opposite);
        &:hover:not(.disabled){
            background: var(--color-bg-hover);
        }
    }
}

@keyframes btnLine {
    0%{ left: -75px;}
    25%{left: 120%;}
    100%{left: 120%;}
}


.btn-2{
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-opposite);
    background-color: var(--color-light);
    &:hover{
        background-color: var(--color-light-hover);
    }
}

.btn-4{
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--color-opposite);
    &:hover{
        background-color: var(--color-light);
    }
    @media (max-width:#{$md3}px) {
        background-color: var(--color-light);
        border-radius: 0;
    }
    &__img{
        height: 24px;
        display: flex;
        align-items: center;
        flex: 0 0 100px;
        img{
            height: 100%;
            max-width: 100px;
            object-fit: contain;
        }
        @media (max-width:#{$md3}px) {
            flex: 0 0 33%;
        }
    }
}

.btn-5{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-opposite);
    fill: var(--color-opposite);
    background-color: transparent;
    &:hover{
        color: var(--color-gray);
        fill: var(--color-gray);
    }
}

.btn-6{
    font-weight: 700;
    color: var(--color-opposite);
    background-color: transparent;
    &:hover{
        text-decoration: underline;
    }
}

.btnDemo{
    font-weight: 700;
    &[href=""], &:not([href]){
        text-decoration: underline;
        text-decoration-style: dashed;
        text-underline-offset: 4px;
    }
}

.btn-dropdown{
    background-color: transparent;
    color: var(--color-opposite);
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 8px;
    &:hover{
        background-color: var(--color-light);
    }
    &_filled{
        padding: 8px;
        background: var(--color-light);
        &:hover{
            background-color: var(--color-light-hover);
        }
    }
    &.mod-download-app{
        @media (min-width:#{$md3}px) {
            svg{
                display: none;
            }
        }
    }
}

.btn-round{
    @extend .btn-dropdown_filled;
    border-radius: 99px;
    &_white{
        background-color: var(--color-opposite);
        &:hover{
            background-color: var(--bg-btn-secondary-hover);
        }
    }
}

////////////////////////// Ссылки /////////////////////////

.linkApp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-light);
    border-radius: 8px;
    padding: 16px 8px 16px 16px;
    &:hover{
        background-color: var(--color-light-hover);
    }
    &_windows{
        height: 100%;
        .linkApp__mod{
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .ml-8{
                margin-left: 0;
            }
        }
    }
}

.link-2{
    background: var(--color-light);
    border-radius: 8px;
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    @extend .f-jcc-aic;
}

.linkSocial{
    background-color: var(--color-bg);
    border-radius: 8px;
    padding: 4px;
    display: inline-block;
    &_instagram{
        background: linear-gradient(262.93deg, #7E2BF4 0%, #ED146E 50%, #FFC90C 100%);
    }
    &_facebook{
        background: rgba(8, 102, 255, 1); /* immutable */
    }
    &_linkedin{
        background: rgba(10, 102, 194, 1); /* immutable */
    }
    &_gray{
        background-color: var(--color-light);
        &:hover{
            background-color: var(--color-light-hover);
        }
    }
}

.link-default{
    &:hover{
        text-decoration: underline;
    }
}

.child-link-default{
    a:hover{
        text-decoration: underline;
    }
}

///////////////////////// Таблицы /////////////////////////

.table-2{
    th{
        @media (min-width:530px) {
            width: 230px;
        }
    }
}

/////////////// Ховер подсказки (маленькие) ///////////////

.tooltip{
    position: relative;
    &:hover{
        .tooltip__body{
            transition: 0s ease 0.15s;
            opacity: 1;
            visibility: visible;
        }
    }
    &__body{
        bottom: 24px;
        right: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 12;
        padding-bottom: 8px;
    }
    &__content{
        background-color: var(--color-bg);
        box-shadow: var(--shadow);
        padding: 16px;
        border-radius: 12px;
        width: 200px;
    }
}

///////////////// Ховер подсказки (попапы) ////////////////

.popover{
    position: relative;
    @media (min-width:#{$md3}px) {
        &-popup__body{
            border-radius: 12px;
            padding: 16px;
            background-color: var(--color-bg);
            box-shadow: var(--shadow);
            width: 360px;
            max-height: 75vh;
            overflow-y: auto;
        }
        &-popup{
            position: absolute;
            top: 40px;
            padding-top: 8px;
            opacity: 0;
            visibility: hidden;
            &:not(.mod-left){
                @media (max-width:1310px) {
                    left: -100px;
                }
            }
        }
        &:hover{
            > .popover-trigger{
                background-color: var(--color-light);
            }
            > .popover-popup{
                transition: 0s ease 0.15s;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    @media (max-width:#{$md3}px) {
        border-radius: 8px;
        overflow: hidden;
        .popover-popup{
            display: none;
        }
        .btn-dropdown{
            border-radius: 0;
        }
        .popover-popup__body{
            > * {
                border-top: 1px solid var(--color-bg);
            }
        }
        &.active{
            .btn-dropdown svg{
                transition: 0.15s ease;
                transform: rotate(180deg);
            }
        }
    }
}

/// Элементы которые превращаются в попапы на мобилках ////

.modal{
    &__body{
        @media (max-width:#{$md3}px) {
            display: none;
            &.active{
                display: block;
                animation: showModal 0.15s forwards 0s linear;
                transform: translateY(100%);
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                max-height: 75vh;
                overflow-y: auto;
                z-index: 55;
                background-color: var(--color-bg);
                padding: 0px 16px 16px 16px;
                border-radius: 12px 12px 0 0;
                > *:not(:last-child):not(.modal__header){
                    margin-bottom: 16px;
                }
            }
            .btn-dropdown{
                background-color: var(--color-light);
                width: 100%;
                justify-content: space-between;
                padding: 16px;
                font-weight: 400;
            }
        }
    }
    &__header{
        position: sticky;
        top: 0;
        background-color: var(--color-bg);
        z-index: 2;
        padding: 16px 0;
        @media (min-width:#{$md3}px) {
            display: none;
        }
    }
}

.bgOverlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 52;
    background-color: rgba(0, 0, 0, 0.5); /* immutable */
    backdrop-filter: blur(5px);
    &.active{
        display: block;
    }
}

@keyframes showModal {
    from{transform: translateY(100%);}
    to{transform: translateY(0%);}
}

////////////////// Карточки, контейнеры ///////////////////

.card-1{
    padding: 16px;
    border-radius: 8px;
    background-color: var(--color-light);
    height: 100%;
}

.card-2{
    padding: 32px;
    border-radius: 16px;
    background-color: var(--color-light);
    @media (max-width:#{$md3}px) {
        padding: 16px;
    }
}

.cardApp{
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    position: relative;
    gap: 8px;
    &_blue{
        background: linear-gradient(85.83deg, #38A8FA 1.14%, #0167CA 100%);
    }
    &_gradient{
        background: linear-gradient(85.83deg, #004DB8 1.14%, #F14624 100%);
    }
}

.label{
    position: absolute;
    left: 32px;
    top: -13px;
    display: flex;
    align-items: center;
    background: var(--color-bg);
    color: var(--color-opposite);
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: 700;
    border: 1px solid var(--color-gray);
    @extend .text-small;
    img{
        display: inline-block;
        margin-right: 10px;
    }
    @media (max-width:#{$md3}px) {
        left: 16px;
    }
    &_pos-static{
        position: static;
    }
}

.label-2{
    display: inline-block;
    background-color: var(--color-bg);
    color: var(--color-opposite);
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: 700;
    border: 1px solid var(--color-gray);
    @extend .text-small;
}

.label-4{
    background-color: var(--color-note);
    padding: 8px 16px;
    border-radius: 8px;
}

//////////////////////// Поля input ///////////////////////

.searchField{
    position: relative;
    height: 40px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    &__input{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        input{
            border: 2px solid var(--color-search-border);
            border-radius: 8px;
            width: 328px;
            height: 40px;
            background-color: var(--color-bg);
            padding: 8px 36px;
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: -40px;
            width: 40px;
            height: 40px;
            background: var(--color-search-before);
        }
    }
    &__icon{
        position: absolute;
        top: 8px;
        left: 8px;
    }
    &__close{
        background-color: transparent;
        outline: none;
        position: absolute;
        right: 8px;
        top: 8px;
    }
    @media (max-width:#{$md3}px) {
        &__input{
            display: block;
            width: 100%;
            input{
                border-color: var(--color-light);
                width: 100%;
            }
        }
        &__open{
            display: none;
        }
        &__close{
            display: none;
        }
    }
    &.active{
        .searchField__input{
            display: block;
        }
        .searchField__open{
            display: none;
        }
    }
}

.inputText{
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--color-light);
}

.inputRadio{
	input[type="radio"]{
		visibility: hidden;
		display: none;
	}
	input[type="radio"] + label{
		display: flex;
		align-items: center;
        padding: 19px 16px 19px 56px;
		border-radius: 8px;
		position: relative;
		cursor: pointer;
		&:after, &:before{
			content: "";
			position: absolute;
			border-radius: 50%;
		}
		&:after{
			top: calc(50% - 12px);
			left: 16px;
			width: 24px;
			height: 24px;
			border: 2px solid var(--color-gray);
		}
        &:hover{
            @media (min-width:#{$md3}px) {
                background-color: var(--color-light);
            }
        }
	}
	input[type="radio"]:checked + label{
		&:after{
			border-color: var(--color-input-radio);
		}
        &:before{
			z-index: 2;
			top: calc(50% - 6px);
			left: 22px;
			width: 12px;
			height: 12px;
			background-color: var(--color-input-radio);
		}
	}
}

.inputCheckbox{
	> * {
		cursor: pointer;
	}
	input[type="checkbox"]{
		visibility: hidden;
		display: none;
	}
	input[type="checkbox"] + label{
		display: flex;
		align-items: center;
		span{
			padding-left: 8px;
		}
		.state-2{visibility: hidden;}
	}
	input[type="checkbox"]:checked + label{
		.state-1{visibility: hidden;}
		.state-2{visibility: visible;}
	}
}

///////////////////// breadcrumbs //////////////////////////

.breadcrumbs {
    margin: -4px auto;
	&__link {
        padding: 4px 0;
		&:not(:first-child){
			padding-left: 40px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				top: calc(50% - 12px);
				left: 8px;
				width: 24px;
				height: 24px;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3 8.03291C9.9 8.43291 9.9 9.03291 10.3 9.43291L13.6 12.7329L10.3 16.0329C9.9 16.4329 9.9 17.0329 10.3 17.4329C10.7 17.8329 11.3 17.8329 11.7 17.4329L15.7 13.4329C15.9 13.2329 16 13.0329 16 12.7329C16 12.4329 15.9 12.2329 15.7 12.0329L11.7 8.03291C11.3 7.63291 10.7 7.63291 10.3 8.03291Z' fill='white' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
                background-position: 50% 50%;
			}
		}
        &:last-child{
            font-weight: 700;
        }
        &:not(:last-child){
            color: var(--color-light-seo);
        }
	}
}

/////////////////////////// Списки ///////////////////////////////

.listComparison{
    li{
        display: flex;
        align-items: center;
        gap: 16px;
		&:before{
			content: "";
			width: 24px;
			height: 24px;
            flex: 0 0 24px;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4.90625C16.415 4.90625 20 8.49125 20 12.9062C20 17.3212 16.415 20.9062 12 20.9062C7.585 20.9062 4 17.3212 4 12.9062C4 8.49125 7.585 4.90625 12 4.90625ZM8.41211 11.8562C7.85982 11.8562 7.41211 12.3039 7.41211 12.8562C7.41266 13.4081 7.86021 13.8552 8.41211 13.8552H10.9512V16.3922L10.9502 16.3932C10.9502 16.9455 11.3979 17.3932 11.9502 17.3932C12.5021 17.3926 12.9492 16.9451 12.9492 16.3932V13.8552H15.4881C16.04 13.8546 16.4871 13.4071 16.4871 12.8552C16.486 12.3037 16.0386 11.8572 15.4871 11.8572H12.9492V9.31719C12.9486 8.76529 12.5011 8.31819 11.9492 8.31819C11.3977 8.31929 10.9512 8.76668 10.9512 9.31819V11.8572H8.41311L8.41211 11.8562Z' fill='%2334C759'/%3E%3C/svg%3E");
		}
        &:not(:last-child){
            margin-bottom: 16px;
        }
	}
    &_negative li:before{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 12.9062C20 8.49125 16.415 4.90625 12 4.90625C7.585 4.90625 4 8.49125 4 12.9062C4 17.3212 7.585 20.9062 12 20.9062C16.415 20.9062 20 17.3212 20 12.9062ZM7.41211 12.8562C7.41211 12.3039 7.85982 11.8562 8.41211 11.8562L8.41311 11.8572H15.4871C16.0386 11.8572 16.486 12.3037 16.4871 12.8552C16.4871 13.4071 16.04 13.8546 15.4881 13.8552H8.41211C7.86021 13.8552 7.41266 13.4081 7.41211 12.8562Z' fill='white' fill-opacity='0.3'/%3E%3C/svg%3E");
    }
}

.tagsList{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    @media (max-width:#{$md3}px) {
        gap: 16px;
    }
    li{
        background-color: var(--color-light);
        padding: 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        &:before{
            content: "";
            width: 8px;
            height: 8px;
            flex: 0 0 8px;
            background-color: var(--color-note);
            border-radius: 99px;
        }
        @media (max-width:#{$md4}px) {
            flex: 0 0 100%;
        }
    }
}

/////////////////// Стилизация скроллбара /////////////////////

.scroll-styled{
    -webkit-overflow-scrolling:touch;
    @media (min-width: #{$md3}px){
      ::-webkit-scrollbar {
        width: 12px; /* ширина для вертикального скролла */
        height: 12px; /* высота для горизонтального скролла */
        background-color: var(--color-opposite);
      }
  
      /* ползунок скроллбара */
      ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); /* immutable */
        border-radius: 4px;
      }
  
      ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5); /* immutable */
      }
  
      // Для FireFox
      scrollbar-color: #232325 var(--color-light-hex); /* «цвет ползунка» «цвет полосы скроллбара» */
      scrollbar-width: thin;
    }
}

////////////////////////// Прочее /////////////////////////

.logo{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    img{
        height: 24px;
    }
}

.promocode{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background-color: var(--color-light);
    color: var(--color-light-seo);
    padding: 4px 12px;
    border-radius: 8px;
    &:hover{
        background-color: var(--color-light-hover);
    }
}

.copied{
	position: fixed;
	bottom: 16px;
	left: 50%;
    transform: translate(-50%, 130%);
	background-color: var(--color-bg);
	color: var(--color-opposite);
	padding: 16px;
	border-radius: 8px;
	text-align: center;
	z-index: 45;
    border: 1px solid var(--color-light);
    &.show{
        animation: showMsg 0.25s ease-in-out 0s forwards;
    }
    &.hide{
        animation: hideMsg 0.25s ease-in-out 0s forwards;
    }
}

@keyframes showMsg {
    from{transform: translate(-50%, 130%);}
    to{transform: translate(-50%, 0%);}
}

@keyframes hideMsg {
    0%{transform: translate(-50%, 0%);}
    30%{transform: translate(-50%, -30%);}
    100%{transform: translate(-50%, 130%);}
}

.table-auto-scroll{
    overflow-x: auto;
}

.quoteWarning{
    @extend .nlc-mb-16;
    padding: 32px 32px 32px 112px;
    border-radius: 16px;
    background: linear-gradient(90deg, rgba(255, 241, 115, 0.05) 0%, rgba(255, 184, 0, 0.05) 100%);
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 32px;
        left: 32px;
        width: 48px;
        height: 48px;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37 38.7329H11C9.344 38.7329 8 37.3889 8 35.7329C8 35.1609 8.16 34.6269 8.438 34.1729L21.804 12.0209C22.236 11.2529 23.058 10.7329 24 10.7329C25.04 10.7329 25.932 11.3649 26.316 12.2649L39.552 34.1549C39.836 34.6129 40 35.1549 40 35.7329C40 37.3889 38.656 38.7329 37 38.7329ZM26 32.7329C26 31.6289 25.104 30.7329 24 30.7329C22.896 30.7329 22 31.6289 22 32.7329C22 33.8369 22.896 34.7329 24 34.7329C25.104 34.7329 26 33.8369 26 32.7329ZM26 20.7329C26 19.6289 25.104 18.7329 24 18.7329C22.896 18.7329 22 19.6289 22 20.7329V26.7329C22 27.8369 22.896 28.7329 24 28.7329C25.104 28.7329 26 27.8369 26 26.7329V20.7329Z' fill='url(%23paint0_linear_597_3954)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_597_3954' x1='8' y1='24.7329' x2='40' y2='24.7329' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFF173'/%3E%3Cstop offset='1' stop-color='%23FFB800'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    }
    @media (max-width:#{$md3}px) {
        padding: 80px 16px 16px 16px;
        &:before{
            top: 16px;
            left: 16px;
        }
    }
    &.mod-info{
        padding: 16px 16px 16px 80px;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:before{
            top: 16px;
            left: 16px;
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 7.6767C32.83 7.6767 40 14.8467 40 23.6767C40 32.5067 32.83 39.6767 24 39.6767C15.17 39.6767 8 32.5067 8 23.6767C8 14.8467 15.17 7.6767 24 7.6767ZM26.6625 31.6767C27.7625 31.6767 28.6545 30.7847 28.6545 29.6847C28.6545 28.5847 27.7625 27.6907 26.6625 27.6907H25.9965V21.1907C25.9965 20.3047 25.5185 19.6767 24.6365 19.6767C24.6305 19.6767 21.3665 19.6767 21.3665 19.6767C20.2585 19.6767 19.3565 20.5767 19.3565 21.6867C19.3565 22.7967 20.2585 23.6967 21.3665 23.6967H21.9905V27.6907H21.3085C20.2085 27.6907 19.3145 28.5847 19.3145 29.6847C19.3145 30.7847 20.2085 31.6767 21.3085 31.6767H26.6625ZM24.0004 12.9927C25.4824 12.9927 26.6844 14.1947 26.6844 15.6767C26.6844 17.1587 25.4824 18.3607 24.0004 18.3607C22.5184 18.3607 21.3164 17.1587 21.3164 15.6767C21.3164 14.1947 22.5184 12.9927 24.0004 12.9927Z' fill='url(%23paint0_linear_1175_5255)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1175_5255' x1='8' y1='23.6767' x2='40' y2='23.6767' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFF173'/%3E%3Cstop offset='1' stop-color='%23FFB800'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        }
    }
}

.quote{
    @extend .nlc-mb-32;
    padding: 32px 112px;
    position: relative;
    &:before, &:after{
        content: "";
        position: absolute;
        width: 48px;
        height: 48px;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.73291L21.8 9.26624V48.7329L9 40.1996V0.73291Z' fill='white'/%3E%3Cpath d='M26.0667 0.73291L38.8667 9.26624V48.7329L26.0667 40.1996V0.73291Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    &:before{
        top: 0;
        left: 32px;
    }
    &:after{
        bottom: 0;
        right: 32px;
    }
    @media (max-width:#{$md3}px) {
        padding: 56px 16px;
        > *:not(:last-child):not(.not-nlc){
            margin-bottom: 16px;
        }
        &:before, &:after{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 0.750977L10.9 5.01764V24.751L4.5 20.4843V0.750977Z' fill='white'/%3E%3Cpath d='M13.0333 0.750977L19.4333 5.01764V24.751L13.0333 20.4843V0.750977Z' fill='white'/%3E%3C/svg%3E%0A");
            width: 24px;
            height: 24px;
        }
        &:before{
            left: 16px;
        }
        &:after{
            right: 16px;
        }
    }
}

.styledContent{
    --space-bottom: 32px;
    padding: 0 16px;
    > p{
        line-height: 170%;
        margin-bottom: var(--space-bottom);
    }
	> h1{
		@extend .text-big;
        margin-bottom: var(--space-bottom);
	}
    > h2{
		@extend .text-medium;
        margin-bottom: var(--space-bottom);
	}
	> h3{
		@extend .bold;
        margin-bottom: var(--space-bottom);
	}
    > h4{
        @extend .text-small;
		@extend .bold;
        margin-bottom: var(--space-bottom);
	}
    > h5, h6{
        @extend .text-micro;
		@extend .bold;
        margin-bottom: var(--space-bottom);
	}
	> a:not([class]) {
        display: inline-block;
		text-decoration: underline;
	}
    > a{
        margin-bottom: var(--space-bottom);
    }

    .p-40-md3-16, .firstScreen.p-16{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    > ul, > ol {
        margin-bottom: var(--space-bottom);
    }

    .quoteWarning{
        margin-bottom: var(--space-bottom);
    }

    .quoteWarning p{
        line-height: 170%;
    }

    .quote{
        margin-bottom: var(--space-bottom);
    }

    .table-auto-scroll{
        margin-bottom: var(--space-bottom);
    }
}

// Общее для двух списков
ul.list, .styledContent > ul, ol.list, .styledContent > ol{
    li{
		padding-left: 32px;
        display: flex;
        align-items: center;
        @media (max-width:#{$md3}px) {
            padding-left: 16px;
        }
        &:not(:last-child){
            margin-bottom: 16px;
        }
	}
}

ul.list, .styledContent > ul{
	li{
        gap: 16px;
		&:before{
			content: "";
            flex: 0 0 8px;
			width: 8px;
			height: 8px;
			background: var(--color-brand);
			border-radius: 99px;
		}
	}
}

ol.list, .styledContent > ol{
	counter-reset: myCounter;
	li{
        gap: 12px;
		&:before{
			content: counter(myCounter)".";
			counter-increment: myCounter;
			@extend .bold;
		}
	}
}

///////////////////////////////////////////////////////////