/////////////////////////// Кнопки ////////////////////////

.btn{
    font-weight: normal;
    border-radius: 8px;
    width: 156px;
    text-align: center;
    font-weight: 700;
    padding: 12px;
    transition: transform 0.15s ease;
    &:hover{
        transition: transform 0.15s ease;
        transform: scale(1.08) translateZ(0) perspective(1px);
    }
    &_blue{
        background: $blue;
        box-shadow: 0px 8px 50px 0px rgba(63, 105, 255, 1);
    }
    &_green{
        background: $green;
        box-shadow: 0px 8px 50px 0px rgba(42, 128, 71, 1);
        position: relative;
        overflow: hidden;
        &:after{
            content: "";
            position: absolute;
            top: -20px;
            left: calc(50% - 8px);
            width: 15px;
            height: 80px;
            transform: rotate(45deg);
            background: rgba(255, 255, 255, 0.3);
        }
    }
}

.btn-2{
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    background-color: rgba(255, 255, 255, 0.05);
    &:hover{
        background-color: rgba(255, 255, 255, 0.10);
    }
}

.btnDemo{
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 4px;
    font-weight: 700;
}

.btn-dropdown{
    background-color: transparent;
    color: $white;
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 8px;
    &:hover{
        background-color: rgba(255, 255, 255, 0.05);
    }
    &_filled{
        padding: 8px;
        background: rgba(255, 255, 255, 0.05);
        &:hover{
            background-color: rgba(255, 255, 255, 0.10);
        }
    }
    &_round{
        border-radius: 99px;
    }
    &.mod-download-app{
        @media (min-width:#{$md3}px) {
            svg{
                display: none;
            }
        }
    }
}

////////////////////////// Ссылки /////////////////////////

.linkApp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 16px 8px 16px 16px;
    &:hover{
        background-color: rgba(255, 255, 255, 0.10);
    }
    &_windows{
        height: 100%;
        .linkApp__mod{
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .ml-8{
                margin-left: 0;
            }
        }
    }
}

.link-2{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    @extend .f-jcc-aic;
}

///////////////// Ховер подсказки (попапы) ////////////////

.popover{
    position: relative;
    @media (min-width:#{$md3}px) {
        &-popup__body{
            border-radius: 12px;
            padding: 16px;
            background-color: $black;
            box-shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.5);
            width: 360px;
        }
        &-popup{
            position: absolute;
            top: 40px;
            padding-top: 8px;
            opacity: 0;
            visibility: hidden;
            &:not(.mod-left){
                @media (max-width:1310px) {
                    left: -100px;
                }
            }
        }
        &:hover{
            > .popover-trigger{
                background-color: rgba(255, 255, 255, 0.05);
            }
            > .popover-popup{
                transition: 0s ease 0.15s;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    @media (max-width:#{$md3}px) {
        border-radius: 8px;
        overflow: hidden;
        .popover-popup{
            display: none;
        }
        .btn-dropdown{
            border-radius: 0;
        }
        .popover-popup__body{
            > * {
                border-top: 1px solid rgba(18, 18, 20, 0.3);
            }
        }
        &.active{
            .btn-dropdown svg{
                transition: 0.15s ease;
                transform: rotate(180deg);
            }
        }
    }
}

////////////////// Карточки, контейнеры ///////////////////

.card-1{
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
}

.cardApp{
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    &_blue{
        background: linear-gradient(0deg, #0167CA -13.77%, #38A8FA 102.34%);
    }
    &_gradient{
        background: linear-gradient(85.83deg, #004DB8 1.14%, #F14624 100%);
    }
}

//////////////////////// Поля input ///////////////////////

.searchField{
    position: relative;
    height: 40px;
    &__input{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        input{
            border: 2px solid rgba(63, 105, 255, 0.3);
            border-radius: 8px;
            width: 328px;
            height: 40px;
            outline: none;
            background-color: $black;
            padding: 8px 32px;
            color: $white;
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: -40px;
            width: 40px;
            height: 40px;
            background: linear-gradient(90deg, rgba(35, 35, 37, 0) 0%, rgba(35, 35, 37, 0.9) 50%, #232325 100%);
        }
    }
    &__icon{
        position: absolute;
        top: 8px;
        left: 8px;
    }
    &__close{
        background-color: transparent;
        outline: none;
        position: absolute;
        right: 8px;
        top: 8px;
    }
    @media (max-width:#{$md3}px) {
        display: none;
    }
    &.active{
        .searchField__input{
            display: block;
        }
        .searchField__open{
            display: none;
        }
    }
}

////////////////////////// Прочее /////////////////////////

.logo{
    display: flex;
    padding: 8px;
    align-items: flex-start;
}

///////////////////////////////////////////////////////////