.text-extra-large{
  font-size: 64px;
  line-height: 77px;
}

.text-huge{
  font-size: 40px;
  line-height: 48px;
}

.text-big{
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.text-medium{
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.text-small{
  font-size: 13px;
  line-height: 16px;
}

.text-upper{
  font-size: 12px;
  text-transform: uppercase;
}

.text-micro{
  font-size: 11px;
  line-height: 13px;
}

.bold{
  font-weight: bold;
}

.regular{
  font-weight: normal;
}

.leter-sp{
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.tt-u{
  text-transform: uppercase;
}

.md3-text-small{
  @media (max-width:#{$md3}px) {
    font-size: 13px;
    line-height: 16px;
  }
}

.md3-text-default{
  @media (max-width:#{$md3}px) {
    font-size: 15px;
    line-height: 18px;
  }
}