.text-big{
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.text-medium{
  font-size: 20px;
  font-weight: bold;
}

.text-small{
  font-size: 13px;
  line-height: 16px;
}

.text-upper{
  font-size: 12px;
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
}

.leter-sp{
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.md3-text-small{
  @media (max-width:#{$md3}px) {
    font-size: 13px;
    line-height: 16px;
  }
}

.md3-text-default{
  @media (max-width:#{$md3}px) {
    font-size: 15px;
    line-height: 18px;
  }
}