/////////////////// Форма подписки ////////////////////прпр
.subscribe .wpcf7 .subscribe__input >  p{
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.subscribe input + .wpcf7-not-valid-tip{
    position: absolute;
    top: 0px;
    transform: translateY(-100%);
    margin-top: -8px;
    color: white;
    background-color: #232325;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, .5);
    padding: 16px;
    border-radius: 12px;
}

.subscribe .wpcf7-submit{
    border-radius: 0 8px 8px 0;
    height: 34px;
    cursor: pointer;
}

.subscribe .wpcf7-spinner{
    display: none !important;
}

.subscribe .wpcf7-form-control-wrap{
    width: 100%;
}

.subscribe .wpcf7-form-control-wrap input{
    width: 100%;
}

.subscribe .wpcf7-response-output{
    display: none !important;
}

.subscribe .wpcf7{
    width: 100%;
}

///////////////////////////////////////////////////////////