.collaboration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.collaboration__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.collaboration__list .card-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  height: 70px;
  position: relative;
}

.collaboration__list .card-1 img {
  max-width: 100%;
}

.collaboration__list .card-1__factor {
  position: absolute;
  top: -8px;
  inset-inline-end: 4px;
}

.collaboration__list .tooltip_top:nth-child(odd) .tooltip__body {
  inset-inline-start: 0;
  inset-inline-end: auto;
}

.collaboration__list_3col .card-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.collaboration__list_4col .card-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 22%;
          flex: 1 0 22%;
}

.collaborationBanner {
  border-radius: 8px;
  overflow: hidden;
  padding: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collaborationBanner__text {
  position: relative;
  z-index: 2;
  max-width: 288px;
}

@media (max-width: 992.98px) {
  .collaboration__list_4col .card-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
  }
}

@media (max-width: 767.98px) {
  .collaboration {
    grid-template-columns: 1fr;
  }
}