.turbo-games {
  background-color: #fff;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  gap: 32px;
  grid-template-columns: auto 1fr 1fr 1fr;
}

.turbo-games img {
  max-width: 100%;
  height: auto;
}

.turbo-games__item {
  padding: 16px;
  border: 2px solid rgb(0, 0, 0);
  -webkit-box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
          box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  color: #000;
}

.turbo-games__item p {
  font-weight: 700;
}

@media (max-width: 992.98px) {
  .turbo-games {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .turbo-games {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}