.hg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.hg__content {
  padding: 32px;
  border-radius: var(--br-small);
  background-color: var(--color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hg__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.hg__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  border-radius: var(--br-small);
  background-color: var(--color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  text-align: center;
}

.hg__title {
  font-size: 24px;
  line-height: 120%;
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 900;
}

.hg__stats {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;
  font-weight: 900;
}

@media (max-width: 992.98px) {
  .hg__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 48%;
            flex: 1 0 48%;
  }
}

@media (max-width: 767.98px) {
  .hg {
    grid-template-columns: 1fr;
  }
}