.elk {
  background-color: var(--color-light);
}

.elk__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.elk__top img {
  max-width: 100%;
  height: auto;
}

.elk__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  padding: 16px;
}

.elk__col {
  border: 4px solid rgb(255, 255, 255);
  padding: 12px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 209px;
}

.elk__col img {
  height: 48px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .elk__row {
    gap: 16px;
  }
}