.netent {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.netent__col {
  border-radius: var(--br-small);
  background-color: var(--color-light);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  position: relative;
  overflow: hidden;
}

.netent__man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.netent__man img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  margin-left: -25px;
}

.netent__bigNumber {
  font-size: 56px;
  line-height: 120%;
  font-weight: 700;
  padding: 0 16px;
  border: 4px solid #fff;
  border-radius: 16px;
  -webkit-transform: rotate(-5deg) translateY(-4px);
      -ms-transform: rotate(-5deg) translateY(-4px);
          transform: rotate(-5deg) translateY(-4px);
}

.netent__logo img {
  margin-bottom: 10px;
}

.netent__text {
  font-weight: 700;
}

.netent__year {
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  margin-top: -80px;
  margin-bottom: -80px;
  position: relative;
}

.netent__label {
  letter-spacing: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.netent__hugeNumber {
  font-size: 220px;
  color: rgba(255, 255, 255, 0.1);
  line-height: 120%;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

@media (max-width: 767.98px) {
  .netent {
    grid-template-columns: 1fr;
  }
}

@media ((max-width: 992.98px) and (min-width: 767.98px)) or (max-width: 535px) {
  .netent__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .netent__col_1 {
    gap: 32px;
  }
}