.f1 {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.f1__col {
  border-radius: var(--br-small);
  background-color: var(--color-light);
  position: relative;
  overflow: hidden;
}

.f1__col_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.f1__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.f1__body {
  position: relative;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  padding: 16px;
  min-height: 145px;
}

.f1__sponsor {
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 2.2px;
  margin-top: 4px;
}

.f1__content {
  padding: 16px;
  max-width: 360px;
}

.f1__content > *:not(:last-child) {
  margin-bottom: 10px;
}

.f1__text {
  font-weight: bold;
}

.f1__subtext {
  text-align: right;
  font-size: 13px;
  line-height: 120%;
}

.f1__ceo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 154px;
          flex: 0 0 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.f1__ceo img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
}

@media (max-width: 767.98px) {
  .f1 {
    grid-template-columns: 1fr;
  }
}