.stake {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.stake__textLeft {
  padding: 32px 0 32px 32px;
  position: relative;
  z-index: 3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stake__textLeft img {
  margin-bottom: 16px;
  height: 48px;
  width: auto;
}

.stake__textGreen {
  color: #00D45C;
}

.stake__content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  width: 100%;
  background-color: var(--color-light);
  border-radius: var(--br-small);
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  text-transform: uppercase;
  overflow: hidden;
}

.stake__imgBg {
  position: relative;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-start: -60px;
          margin-inline-start: -60px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.stake__imgBg img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  -o-object-position: left;
     object-position: left;
  max-width: 100%;
  width: auto;
}

.stake__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.stake__line {
  background-color: var(--color-light);
  border-radius: var(--br-small);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 16px;
}

.stake__line > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.stake__divider {
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1px;
          flex: 0 0 1px;
}

.stake__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stake__image img {
  max-width: 100%;
  height: auto;
}

.stake__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 120%;
}

.stake__small {
  font-size: 10px;
  line-height: 120%;
}

@media (max-width: 767.98px) {
  .stake {
    grid-template-columns: 1fr;
  }

  .stake__textLeft {
    padding: 16px 0 16px 16px;
  }
}

@media (max-width: 479.98px) {
  .stake__line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .stake__image {
    width: 100%;
  }
}