.hg {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 16px;
}

.hg__col {
  border-radius: var(--br-small);
  background-color: var(--color-light);
}

.hg__title {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 9px;
}