.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.socials__row > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.socials__row_1 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.socials__row_1 .card-1 {
  min-width: 220px;
}

.socials__row_2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smartSoft {
  background: linear-gradient(132.87deg, #00C0FF 0%, #009CFF 100%);
  color: var(--color-opposite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.smartSoft__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.smartSoft_divider {
  background-color: var(--color-opposite);
  width: 1px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1px;
          flex: 0 0 1px;
  height: 40px;
}

@media (max-width: 767.98px) {
  .socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .socials__row_2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 479.98px) {
  .socials__row_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}