.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.socials__row > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.socials__row_1 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.socials__row_1 .card-1 {
  min-width: 220px;
}

.socials__row_2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ufcPartner {
  background: -webkit-gradient(linear, left top, right top, from(#FA4031), to(#6C0606));
  background: linear-gradient(90deg, #FA4031 0%, #6C0606 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ufcPartner > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.ufcPartner__img {
  position: relative;
}

.ufcPartner__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fairTechnology {
  background-color: #ECEDF3;
  /* immutable */
}

@media (max-width: 767.98px) {
  .socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .socials__row_2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 479.98px) {
  .socials__row_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}