.btn_primary {
  background: linear-gradient(161.96deg, #E680CA 17.19%, #01CFF4 92.79%);
  border: 1px solid rgb(254, 250, 62);
  color: rgb(254, 250, 62);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(161.96deg, #E680CA 17.19%, #01CFF4 92.79%);
  border: 1px solid rgb(254, 250, 62);
}

.label-4 svg use {
  fill: #FEFA3E;
}

.textBanner__x2 {
  inset-inline-end: -86px;
  top: -46px;
}

.textBanner__money2 {
  inset-inline-end: 102px;
  top: -80px;
}

@media (max-width: 992.98px) {
  .textBanner__money2 {
    inset-inline-end: 17px;
    top: -86px;
  }
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -42px;
    top: -16px;
  }

  .textBanner__money2 {
    inset-inline-end: 60px;
    top: -50px;
  }
}