:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -86px;
  --x2_top: -46px;
  --x2_inset_600: -42px;
  --x2_top_600: -16px;
  --money_inset: 30px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 8px;
  --money_top_600: -50px;
}

.btn_primary {
  background: rgb(255, 183, 12);
  border: 2px solid rgb(165, 158, 172);
  padding: 10px 24px;
  color: rgb(0, 55, 110);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: rgb(255, 183, 12);
  border: 2px solid rgb(165, 158, 172);
}

.label-4 svg use {
  fill: #00376E;
}