.btn_primary {
  background: linear-gradient(161.96deg, #FFF8E1 17.19%, #FFDE1C 92.79%);
  border: 2px solid rgb(177, 68, 10);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(177, 68, 10);
          box-shadow: 0px 4px 0px 0px rgb(177, 68, 10);
  padding: 10px 24px;
  color: rgb(35, 35, 37);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(161.96deg, #FFF8E1 17.19%, #FFDE1C 92.79%);
  border: 2px solid rgb(177, 68, 10);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(177, 68, 10);
          box-shadow: 0px 4px 0px 0px rgb(177, 68, 10);
}

.label-4 svg use {
  fill: #232325;
}

.textBanner__x2 {
  inset-inline-end: -86px;
  top: -46px;
}

.textBanner__money2 {
  inset-inline-end: 11px;
  top: -80px;
}

@media (max-width: 992.98px) {
  .textBanner__money2 {
    inset-inline-end: -9px;
    top: -86px;
  }
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -42px;
    top: -16px;
  }

  .textBanner__money2 {
    inset-inline-end: 2px;
    top: -50px;
  }
}