.btn_primary {
  background: linear-gradient(161.96deg, #FEFC11 17.19%, #E4A91D 92.79%);
  border: 2px solid rgb(204, 23, 61);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(204, 23, 61);
          box-shadow: 0px 4px 0px 0px rgb(204, 23, 61);
  padding: 10px 24px;
  color: rgb(35, 35, 37);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(161.96deg, #FEFC11 17.19%, #E4A91D 92.79%);
  border: 2px solid rgb(204, 23, 61);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(204, 23, 61);
          box-shadow: 0px 4px 0px 0px rgb(204, 23, 61);
}

.label-4 svg use {
  fill: #232325;
}

.textBanner__x2 {
  inset-inline-end: -86px;
  top: -46px;
}

.textBanner__money2 {
  inset-inline-end: 102px;
  top: -80px;
}

@media (min-width: 992.98px) {
  .textBanner__t2 {
    font-size: 48px !important;
    line-height: 56px !important;
  }
}

@media (max-width: 992.98px) {
  .textBanner__money2 {
    inset-inline-end: 17px;
    top: -86px;
  }
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -42px;
    top: -16px;
  }

  .textBanner__money2 {
    inset-inline-end: 120px;
    top: -50px;
  }
}