:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -36px;
  --x1_top_600: -42px;
  --x2_inset: -72px;
  --x2_top: -72px;
  --x2_inset_600: -31px;
  --x2_top_600: -40px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#3FBC0A), to(#085A00));
  background: linear-gradient(180deg, #3FBC0A 0%, #085A00 100%);
  border: 2px solid rgb(251, 186, 0);
  padding: 10px 24px;
  color: #fff;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#3FBC0A), to(#085A00));
  background: linear-gradient(180deg, #3FBC0A 0%, #085A00 100%);
  border: 2px solid rgb(251, 186, 0);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}