.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#D18F3E), color-stop(105.95%, #FFE296));
  background: linear-gradient(360deg, #D18F3E 0%, #FFE296 105.95%);
  border: 2px solid rgb(54, 76, 68);
  color: rgb(54, 76, 68);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#D18F3E), color-stop(105.95%, #FFE296));
  background: linear-gradient(360deg, #D18F3E 0%, #FFE296 105.95%);
  border: 2px solid rgb(54, 76, 68);
  color: rgb(54, 76, 68);
}

.label-4 svg use {
  fill: #364C44;
}