:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -86px;
  --x2_top: -46px;
  --x2_inset_600: -42px;
  --x2_top_600: -16px;
  --money_inset: 102px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 49px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#E426AA), color-stop(105.95%, #FFF500));
  background: linear-gradient(360deg, #E426AA 0%, #FFF500 105.95%);
  border: 2px solid rgb(83, 0, 171);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(83, 0, 171);
          box-shadow: 0px 4px 0px 0px rgb(83, 0, 171);
  padding: 10px 24px;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #5300AB, 1px -1px 0 #5300AB, -1px 1px 0 #5300AB, 1px 1px 0 #5300AB;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#E426AA), color-stop(105.95%, #FFF500));
  background: linear-gradient(360deg, #E426AA 0%, #FFF500 105.95%);
  border: 2px solid rgb(83, 0, 171);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(83, 0, 171);
          box-shadow: 0px 4px 0px 0px rgb(83, 0, 171);
}

.label-4 svg use {
  fill: #fff;
  stroke: #5300AB;
  stroke-width: 4px;
  paint-order: stroke;
}