:root {
  --x1_inset: -105px;
  --x1_top: -32px;
  --x1_inset_600: -51px;
  --x1_top_600: -22px;
  --x2_inset: -88px;
  --x2_top: -48px;
  --x2_inset_600: -49px;
  --x2_top_600: -25px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FECDB1), to(#AC1422));
  background: linear-gradient(180deg, #FECDB1 0%, #AC1422 100%);
  border: 2px solid rgb(253, 206, 101);
  padding: 10px 24px;
  color: #000;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FECDB1), to(#AC1422));
  background: linear-gradient(180deg, #FECDB1 0%, #AC1422 100%);
  border: 2px solid rgb(253, 206, 101);
}

.label-4 svg use {
  fill: #000;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}