.btn_primary {
  background: linear-gradient(161.96deg, #FEFC11 17.19%, #E4A91D 92.79%);
  border: 2px solid rgb(204, 23, 61);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(204, 23, 61);
          box-shadow: 0px 4px 0px 0px rgb(204, 23, 61);
  color: rgb(35, 35, 37);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(161.96deg, #FEFC11 17.19%, #E4A91D 92.79%);
  border: 2px solid rgb(204, 23, 61);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(204, 23, 61);
          box-shadow: 0px 4px 0px 0px rgb(204, 23, 61);
}

.label-4 svg use {
  fill: #232325;
}

.textBanner__x2 {
  inset-inline-end: -83px;
  top: -46px;
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -45px;
    top: -30px;
  }
}