.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48CDA), color-stop(105.95%, #FFFFFF));
  background: linear-gradient(360deg, #F48CDA 0%, #FFFFFF 105.95%);
  border: 2px solid rgb(70, 5, 57);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(70, 5, 57);
          box-shadow: 0px 4px 0px 0px rgb(70, 5, 57);
  padding: 10px 24px;
  color: rgb(70, 5, 57);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48CDA), color-stop(105.95%, #FFFFFF));
  background: linear-gradient(360deg, #F48CDA 0%, #FFFFFF 105.95%);
  border: 2px solid rgb(70, 5, 57);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(70, 5, 57);
          box-shadow: 0px 4px 0px 0px rgb(70, 5, 57);
}

.label-4 svg use {
  fill: #460539;
}

.textBanner__x2 {
  inset-inline-end: -86px;
  top: -46px;
}

.textBanner__money2 {
  inset-inline-end: 102px;
  top: -80px;
}

@media (max-width: 992.98px) {
  .textBanner__money2 {
    inset-inline-end: 17px;
    top: -86px;
  }
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -42px;
    top: -16px;
  }

  .textBanner__money2 {
    inset-inline-end: 40px;
    top: -50px;
  }
}