.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#FE5054), color-stop(105.95%, #FCC3CF));
  background: linear-gradient(360deg, #FE5054 0%, #FCC3CF 105.95%);
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#FE5054), color-stop(105.95%, #FCC3CF));
  background: linear-gradient(360deg, #FE5054 0%, #FCC3CF 105.95%);
  border: 2px solid rgb(0, 0, 0);
}

.label-4 svg use {
  fill: #000;
}

.textBanner__x2 {
  inset-inline-end: -89px;
  top: -46px;
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -45px;
    top: -30px;
  }
}