:root {
  --x1_inset: -74px;
  --x1_top: -54px;
  --x1_inset_600: -46px;
  --x1_top_600: -25px;
  --x2_inset: -55px;
  --x2_top: -72px;
  --x2_inset_600: -19px;
  --x2_top_600: -40px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#C90F05), to(#901912));
  background: linear-gradient(180deg, #C90F05 0%, #901912 100%);
  border: 2px solid rgb(246, 183, 30);
  padding: 10px 24px;
  color: #fff;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#C90F05), to(#901912));
  background: linear-gradient(180deg, #C90F05 0%, #901912 100%);
  border: 2px solid rgb(246, 183, 30);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}