:root {
  --x1_inset: -85px;
  --x1_top: -27px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -85px;
  --x2_top: -32px;
  --x2_inset_600: -46px;
  --x2_top_600: -27px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#83552C), to(#E5BF2F));
  background: linear-gradient(0deg, #83552C 0%, #E5BF2F 100%);
  border: 2px solid rgb(177, 136, 52);
  padding: 10px 24px;
  color: #000;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#83552C), to(#E5BF2F));
  background: linear-gradient(0deg, #83552C 0%, #E5BF2F 100%);
  border: 2px solid rgb(177, 136, 52);
}

.label-4 svg use {
  fill: #000;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}