:root {
  --x1_inset: -78px;
  --x1_top: -64px;
  --x1_inset_600: -33px;
  --x1_top_600: -39px;
  --x2_inset: -77px;
  --x2_top: -43px;
  --x2_inset_600: -34px;
  --x2_top_600: -31px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: linear-gradient(186.65deg, #FBEE95 5.09%, #C57F21 94.78%);
  border: 2px solid rgb(73, 213, 209);
  padding: 10px 24px;
  color: #401400;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(186.65deg, #FBEE95 5.09%, #C57F21 94.78%);
  border: 2px solid rgb(73, 213, 209);
}

.label-4 svg use {
  fill: #401400;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}