:root {
  --x1_inset: -99px;
  --x1_top: -42px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -89px;
  --x2_top: -42px;
  --x2_inset_600: -46px;
  --x2_top_600: -37px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#680000));
  background: linear-gradient(180deg, #FF0000 0%, #680000 100%);
  border: 2px solid rgb(235, 167, 9);
  padding: 10px 24px;
  color: #FFF;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#680000));
  background: linear-gradient(180deg, #FF0000 0%, #680000 100%);
  border: 2px solid rgb(235, 167, 9);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}