:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -43px;
  --x1_top_600: -34px;
  --x2_inset: -72px;
  --x2_top: -72px;
  --x2_inset_600: -38px;
  --x2_top_600: -36px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4E60), to(#8C121E));
  background: linear-gradient(180deg, #FF4E60 0%, #8C121E 100%);
  border: 2px solid rgb(79, 61, 101);
  padding: 10px 24px;
  color: #fff;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4E60), to(#8C121E));
  background: linear-gradient(180deg, #FF4E60 0%, #8C121E 100%);
  border: 2px solid rgb(79, 61, 101);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}