:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -34px;
  --x1_top_600: -33px;
  --x2_inset: -72px;
  --x2_top: -72px;
  --x2_inset_600: -25px;
  --x2_top_600: -50px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FECD2B), color-stop(40%, #FFCE2D), color-stop(41%, #FED751), color-stop(59%, #FED751), color-stop(60%, #FEBD03), to(#FDBC01));
  background: linear-gradient(180deg, #FECD2B 0%, #FFCE2D 40%, #FED751 41%, #FED751 59%, #FEBD03 60%, #FDBC01 100%);
  border: 2px solid rgb(151, 86, 0);
  padding: 10px 24px;
  color: #000;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FECD2B), color-stop(40%, #FFCE2D), color-stop(41%, #FED751), color-stop(59%, #FED751), color-stop(60%, #FEBD03), to(#FDBC01));
  background: linear-gradient(180deg, #FECD2B 0%, #FFCE2D 40%, #FED751 41%, #FED751 59%, #FEBD03 60%, #FDBC01 100%);
  border: 2px solid rgb(151, 86, 0);
}

.label-4 svg use {
  fill: #000;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}