.btn_primary {
  background: linear-gradient(161.96deg, #04E204 17.19%, #2D8A1E 92.79%);
  color: #fff;
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(161.96deg, #04E204 17.19%, #2D8A1E 92.79%);
}

.label-4 svg use {
  fill: #FFF;
}

.textBanner__x2 {
  inset-inline-end: -90px;
  top: -46px;
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -48px;
    top: -30px;
  }
}