:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -67px;
  --x2_top: -55px;
  --x2_inset_600: -37px;
  --x2_top_600: -30px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#CD9203), color-stop(52.98%, #FFC312), color-stop(105.95%, #FFFE9A));
  background: linear-gradient(360deg, #CD9203 0%, #FFC312 52.98%, #FFFE9A 105.95%);
  border: 2px solid rgb(75, 1, 2);
  color: rgb(75, 1, 2);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#CD9203), color-stop(52.98%, #FFC312), color-stop(105.95%, #FFFE9A));
  background: linear-gradient(360deg, #CD9203 0%, #FFC312 52.98%, #FFFE9A 105.95%);
  border: 2px solid rgb(75, 1, 2);
}

.label-4 svg use {
  fill: #4B0102;
}