:root {
  --x1_inset: -84px;
  --x1_top: -68px;
  --x1_inset_600: -38px;
  --x1_top_600: -18px;
  --x2_inset: -86px;
  --x2_top: -46px;
  --x2_inset_600: -36px;
  --x2_top_600: -23px;
  --money_inset: 15px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 3px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, right top, from(#FED317), to(#FCA400));
  background: linear-gradient(90deg, #FED317 0%, #FCA400 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgb(165, 58, 0);
          box-shadow: 0px 2px 0px 0px rgb(165, 58, 0);
  color: var(--color-bg);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, right top, from(#FED317), to(#FCA400));
  background: linear-gradient(90deg, #FED317 0%, #FCA400 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgb(165, 58, 0);
          box-shadow: 0px 2px 0px 0px rgb(165, 58, 0);
}

.label-4 svg use {
  fill: #232325;
}