.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#1A35A8), color-stop(52.47%, #FFFFFF), color-stop(105.95%, #1A35A8));
  background: linear-gradient(360deg, #1A35A8 0%, #FFFFFF 52.47%, #1A35A8 105.95%);
  border: 2px solid rgb(255, 171, 78);
  color: rgb(18, 30, 100);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#1A35A8), color-stop(52.47%, #FFFFFF), color-stop(105.95%, #1A35A8));
  background: linear-gradient(360deg, #1A35A8 0%, #FFFFFF 52.47%, #1A35A8 105.95%);
  border: 2px solid rgb(255, 171, 78);
}

.label-4 svg use {
  fill: #121E64;
}

.textBanner__x2 {
  inset-inline-end: -89px;
  top: -74px;
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -33px;
    top: -48px;
  }
}