:root {
  --x1_inset: -81px;
  --x1_top: -57px;
  --x1_inset_600: -46px;
  --x1_top_600: -14px;
  --x2_inset: -86px;
  --x2_top: -44px;
  --x2_inset_600: -47px;
  --x2_top_600: -12px;
  --money_inset: 83px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 30px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, right top, from(#FEFF00), to(#FFBE00));
  background: linear-gradient(90deg, #FEFF00 0%, #FFBE00 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgb(224, 73, 0);
          box-shadow: 0px 2px 0px 0px rgb(224, 73, 0);
  color: var(--color-bg);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, right top, from(#FEFF00), to(#FFBE00));
  background: linear-gradient(90deg, #FEFF00 0%, #FFBE00 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgb(224, 73, 0);
          box-shadow: 0px 2px 0px 0px rgb(224, 73, 0);
}

.label-4 svg use {
  fill: #232325;
}