:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -50px;
  --x2_top: -46px;
  --x2_inset_600: -30px;
  --x2_top_600: -30px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#F3B516), to(#EB7403));
  background: linear-gradient(180deg, #F3B516 0%, #EB7403 100%);
  border: 2px solid rgb(208, 96, 17);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#F3B516), to(#EB7403));
  background: linear-gradient(180deg, #F3B516 0%, #EB7403 100%);
  border: 2px solid rgb(208, 96, 17);
}

.label-4 svg use {
  fill: #fff;
}