:root {
  --x1_inset: -84px;
  --x1_top: -68px;
  --x1_inset_600: -38px;
  --x1_top_600: -18px;
  --x2_inset: -86px;
  --x2_top: -46px;
  --x2_inset_600: -36px;
  --x2_top_600: -23px;
  --money_inset: 67px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 3px;
  --money_top_600: -50px;
}

.btn_primary {
  background: rgb(241, 190, 10);
  color: var(--color-bg);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: rgb(241, 190, 10);
}

.label-4 svg use {
  fill: #232325;
}