.btn_primary {
  background: linear-gradient(161.96deg, #63C74C 17.19%, #1B8329 92.79%);
  border: 2px solid rgb(28, 86, 37);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(161.96deg, #63C74C 17.19%, #1B8329 92.79%);
  border: 2px solid rgb(28, 86, 37);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__x2 {
  inset-inline-end: -60px;
  top: -46px;
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -30px;
    top: -30px;
  }
}