:root {
  --x1_inset: -69px;
  --x1_top: -61px;
  --x1_inset_600: -35px;
  --x1_top_600: -31px;
  --x2_inset: -86px;
  --x2_top: -41px;
  --x2_inset_600: -35px;
  --x2_top_600: -23px;
  --money_inset: 14px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: -36px;
  --money_top_600: -50px;
}

.btn_primary {
  color: #fff;
  position: relative;
  background: linear-gradient(119.59deg, #F7A915 0%, #F27012 100%) padding-box, linear-gradient(180deg, #ED9412 0%, #B4450B 100%) border-box;
  border: 2px solid transparent;
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(119.59deg, #F7A915 0%, #F27012 100%) padding-box, linear-gradient(180deg, #ED9412 0%, #B4450B 100%) border-box;
  border: 2px solid transparent;
}

.label-4 svg use {
  fill: #232325;
}

@media (max-width: 767.98px) {
  .btn_primary {
    padding: 10px 16px;
  }
}