:root {
  --x1_inset: -84px;
  --x1_top: -41px;
  --x1_inset_600: -50px;
  --x1_top_600: -22px;
  --x2_inset: -81px;
  --x2_top: -46px;
  --x2_inset_600: -37px;
  --x2_top_600: -22px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FCE17E), to(#ED970C));
  background: linear-gradient(180deg, #FCE17E 0%, #ED970C 100%);
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 24px;
  color: #000;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FCE17E), to(#ED970C));
  background: linear-gradient(180deg, #FCE17E 0%, #ED970C 100%);
  border: 2px solid rgb(0, 0, 0);
}

.label-4 svg use {
  fill: #000;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.textBanner__t2 {
  font-size: 40px;
  line-height: 48px;
}

@media (max-width: 768px) {
  .textBanner__t2 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 480px) {
  .textBanner__t2 {
    font-size: 24px;
    line-height: 30px;
  }
}