:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -82px;
  --x2_top: -39px;
  --x2_inset_600: -42px;
  --x2_top_600: -28px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: rgb(255, 0, 173);
  -webkit-box-shadow: 4px 4px 0px 0px rgb(0, 255, 255);
          box-shadow: 4px 4px 0px 0px rgb(0, 255, 255);
  padding: 10px 24px;
  color: #fff;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: rgb(255, 0, 173);
  -webkit-box-shadow: 4px 4px 0px 0px rgb(0, 255, 255);
          box-shadow: 4px 4px 0px 0px rgb(0, 255, 255);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}