:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -89px;
  --x2_top: -41px;
  --x2_inset_600: -46px;
  --x2_top_600: -20px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: rgb(122, 0, 0);
  border: 2px solid rgb(255, 217, 106);
  padding: 10px 24px;
  color: #fff;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: rgb(122, 0, 0);
  border: 2px solid rgb(255, 217, 106);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.textBanner__t2 {
  font-size: 40px;
  line-height: 46px;
}

@media (max-width: 992px) {
  .textBanner__t2 {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .textBanner__t2 {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 480px) {
  .textBanner__t2 {
    font-size: 30px;
    line-height: 32px;
  }
}