:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -86px;
  --x2_top: -46px;
  --x2_inset_600: -42px;
  --x2_top_600: -16px;
  --money_inset: 102px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 49px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFA00), to(#FF9500));
  background: linear-gradient(180deg, #FFFA00 0%, #FF9500 100%);
  border: 2px solid rgb(255, 243, 255);
  -webkit-box-shadow: 0px 2px 0px 0px rgb(99, 44, 127);
          box-shadow: 0px 2px 0px 0px rgb(99, 44, 127);
  padding: 10px 24px;
  color: rgb(35, 35, 37);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFA00), to(#FF9500));
  background: linear-gradient(180deg, #FFFA00 0%, #FF9500 100%);
  border: 2px solid rgb(255, 243, 255);
  -webkit-box-shadow: 0px 2px 0px 0px rgb(99, 44, 127);
          box-shadow: 0px 2px 0px 0px rgb(99, 44, 127);
}

.label-4 svg use {
  fill: #232325;
}