:root {
  --x1_inset: -84px;
  --x1_top: -68px;
  --x1_inset_600: -47px;
  --x1_top_600: -18px;
  --x2_inset: -72px;
  --x2_top: -46px;
  --x2_inset_600: -36px;
  --x2_top_600: -23px;
  --money_inset: 27px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 3px;
  --money_top_600: -50px;
}

.btn_primary {
  color: #fff;
  position: relative;
  background: linear-gradient(119.59deg, #FF79C5 0%, #BE0A73 100%) padding-box, linear-gradient(96.44deg, #FFD5FE 0%, #46E6B5 100%) border-box;
  border: 2px solid transparent;
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(119.59deg, #FF79C5 0%, #BE0A73 100%) padding-box, linear-gradient(96.44deg, #FFD5FE 0%, #46E6B5 100%) border-box;
  border: 2px solid transparent;
}

.label-4 svg use {
  fill: #232325;
}

@media (max-width: 767.98px) {
  .btn_primary {
    padding: 10px 16px;
  }
}