:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -72px;
  --x2_top: -72px;
  --x2_inset_600: -25px;
  --x2_top_600: -50px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FA2230), to(#AE1B08));
  background: linear-gradient(180deg, #FA2230 0%, #AE1B08 100%);
  border: 2px solid rgb(252, 241, 10);
  padding: 10px 24px;
  color: #fff;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FA2230), to(#AE1B08));
  background: linear-gradient(180deg, #FA2230 0%, #AE1B08 100%);
  border: 2px solid rgb(252, 241, 10);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}