:root {
  --x1_inset: -103px;
  --x1_top: -31px;
  --x1_inset_600: -52px;
  --x1_top_600: -11px;
  --x2_inset: -84px;
  --x2_top: -27px;
  --x2_inset_600: -46px;
  --x2_top_600: -16px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#BA1CF8), to(#A60673));
  background: linear-gradient(180deg, #BA1CF8 0%, #A60673 100%);
  border: 2px solid rgb(115, 254, 254);
  padding: 10px 24px;
  color: #fff;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#BA1CF8), to(#A60673));
  background: linear-gradient(180deg, #BA1CF8 0%, #A60673 100%);
  border: 2px solid rgb(115, 254, 254);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}