:root {
  --x1_inset: -111px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -84px;
  --x2_top: -41px;
  --x2_inset_600: -40px;
  --x2_top_600: -28px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#EB4AF7), to(#3A1BAF));
  background: linear-gradient(180deg, #EB4AF7 0%, #3A1BAF 100%);
  border: 2px solid rgb(249, 216, 15);
  padding: 10px 24px;
  color: #fff;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#EB4AF7), to(#3A1BAF));
  background: linear-gradient(180deg, #EB4AF7 0%, #3A1BAF 100%);
  border: 2px solid rgb(249, 216, 15);
}

.label-4 svg use {
  fill: #fff;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}