.btn_primary {
  background: linear-gradient(161.96deg, #D389FF 17.19%, #8800D9 92.79%);
  border: 1px solid rgb(213, 178, 255);
  color: #fff;
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(161.96deg, #D389FF 17.19%, #8800D9 92.79%);
  border: 1px solid rgb(213, 178, 255);
}

.label-4 svg use {
  fill: #FFF;
}

.textBanner__x2 {
  inset-inline-end: -77px;
  top: -43px;
}

@media (max-width: 600px) {
  .textBanner__x1 {
    inset-inline-start: -38px;
    top: -18px;
  }

  .textBanner__x2 {
    inset-inline-end: -35px;
    top: -21px;
  }
}