:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -72px;
  --x2_top: -72px;
  --x2_inset_600: -25px;
  --x2_top_600: -50px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#D18F3E), color-stop(105.95%, #FFE296));
  background: linear-gradient(360deg, #D18F3E 0%, #FFE296 105.95%);
  border: 2px solid rgb(54, 76, 68);
  color: rgb(54, 76, 68);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#D18F3E), color-stop(105.95%, #FFE296));
  background: linear-gradient(360deg, #D18F3E 0%, #FFE296 105.95%);
  border: 2px solid rgb(54, 76, 68);
  color: rgb(54, 76, 68);
}

.label-4 svg use {
  fill: #364C44;
}