.btn_primary {
  background: linear-gradient(161.96deg, #162DAA 17.19%, #264CBC 92.79%);
  border: 1px solid rgb(226, 188, 119);
  color: rgb(222, 166, 62);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: linear-gradient(161.96deg, #162DAA 17.19%, #264CBC 92.79%);
  border: 1px solid rgb(226, 188, 119);
}

.label-4 svg use {
  fill: #DEA63E;
}

.textBanner__x2 {
  inset-inline-end: -77px;
  top: -43px;
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -35px;
    top: -21px;
  }
}