:root {
  --x1_inset: -84px;
  --x1_top: -61px;
  --x1_inset_600: -46px;
  --x1_top_600: -14px;
  --x2_inset: -83px;
  --x2_top: -41px;
  --x2_inset_600: -47px;
  --x2_top_600: -12px;
  --money_inset: 0px;
  --money_top: -80px;
  --money_inset_md2: -13px;
  --money_top_md2: -86px;
  --money_inset_600: -5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, right top, from(#5C24FC), to(#944EF5));
  background: linear-gradient(90deg, #5C24FC 0%, #944EF5 100%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(25, 201, 245, 0.1), 0px 10px 20px 0px rgba(92, 36, 252, 0.1), 0px -2px 4px 0px rgb(148, 78, 245) inset, 0px -8px 8px 0px rgba(148, 78, 245, 0.6) inset;
          box-shadow: 0px 10px 20px 0px rgba(25, 201, 245, 0.1), 0px 10px 20px 0px rgba(92, 36, 252, 0.1), 0px -2px 4px 0px rgb(148, 78, 245) inset, 0px -8px 8px 0px rgba(148, 78, 245, 0.6) inset;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, right top, from(#5C24FC), to(#944EF5));
  background: linear-gradient(90deg, #5C24FC 0%, #944EF5 100%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(25, 201, 245, 0.1), 0px 10px 20px 0px rgba(92, 36, 252, 0.1), 0px -2px 4px 0px rgb(148, 78, 245) inset, 0px -8px 8px 0px rgba(148, 78, 245, 0.6) inset;
          box-shadow: 0px 10px 20px 0px rgba(25, 201, 245, 0.1), 0px 10px 20px 0px rgba(92, 36, 252, 0.1), 0px -2px 4px 0px rgb(148, 78, 245) inset, 0px -8px 8px 0px rgba(148, 78, 245, 0.6) inset;
}

.label-4 svg use {
  fill: #fff;
}