:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -86px;
  --x2_top: -46px;
  --x2_inset_600: -42px;
  --x2_top_600: -16px;
  --money_inset: 102px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 40px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48CDA), color-stop(105.95%, #FFFFFF));
  background: linear-gradient(360deg, #F48CDA 0%, #FFFFFF 105.95%);
  border: 2px solid rgb(70, 5, 57);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(70, 5, 57);
          box-shadow: 0px 4px 0px 0px rgb(70, 5, 57);
  padding: 10px 24px;
  color: rgb(70, 5, 57);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48CDA), color-stop(105.95%, #FFFFFF));
  background: linear-gradient(360deg, #F48CDA 0%, #FFFFFF 105.95%);
  border: 2px solid rgb(70, 5, 57);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(70, 5, 57);
          box-shadow: 0px 4px 0px 0px rgb(70, 5, 57);
}

.label-4 svg use {
  fill: #460539;
}