:root {
  --x1_inset: -76px;
  --x1_top: -63px;
  --x1_inset_600: -31px;
  --x1_top_600: -45px;
  --x2_inset: -86px;
  --x2_top: -46px;
  --x2_inset_600: -42px;
  --x2_top_600: -16px;
  --money_inset: 28px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 9px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#11F033), to(#009E35));
  background: linear-gradient(180deg, #11F033 0%, #009E35 100%);
  border: 2px solid rgb(255, 255, 255);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#11F033), to(#009E35));
  background: linear-gradient(180deg, #11F033 0%, #009E35 100%);
  border: 2px solid rgb(255, 255, 255);
}

.label-4 svg use {
  fill: #fff;
}