.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#CD9203), color-stop(52.98%, #FFC312), color-stop(105.95%, #FFFE9A));
  background: linear-gradient(360deg, #CD9203 0%, #FFC312 52.98%, #FFFE9A 105.95%);
  border: 2px solid rgb(75, 1, 2);
  color: rgb(75, 1, 2);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#CD9203), color-stop(52.98%, #FFC312), color-stop(105.95%, #FFFE9A));
  background: linear-gradient(360deg, #CD9203 0%, #FFC312 52.98%, #FFFE9A 105.95%);
  border: 2px solid rgb(75, 1, 2);
}

.label-4 svg use {
  fill: #4B0102;
}

.textBanner__x2 {
  inset-inline-end: -67px;
  top: -55px;
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -37px;
    top: -30px;
  }
}