.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#F8C243), color-stop(105.95%, #FEF8E3));
  background: linear-gradient(360deg, #F8C243 0%, #FEF8E3 105.95%);
  border: 2px solid rgb(144, 40, 3);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(144, 40, 3);
          box-shadow: 0px 4px 0px 0px rgb(144, 40, 3);
  color: rgb(144, 40, 3);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#F8C243), color-stop(105.95%, #FEF8E3));
  background: linear-gradient(360deg, #F8C243 0%, #FEF8E3 105.95%);
  border: 2px solid rgb(144, 40, 3);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(144, 40, 3);
          box-shadow: 0px 4px 0px 0px rgb(144, 40, 3);
}

.label-4 svg use {
  fill: #902803;
}

.textBanner__x2 {
  inset-inline-end: -75px;
  top: -35px;
}

@media (max-width: 600px) {
  .textBanner__x2 {
    inset-inline-end: -42px;
    top: -19px;
  }
}