:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -86px;
  --x2_top: -26px;
  --x2_inset_600: -42px;
  --x2_top_600: -16px;
  --money_inset: 102px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 49px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#FF00D2), color-stop(105.95%, #FF0900));
  background: linear-gradient(360deg, #FF00D2 0%, #FF0900 105.95%);
  border: 2px solid rgb(67, 10, 0);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(67, 10, 0);
          box-shadow: 0px 4px 0px 0px rgb(67, 10, 0);
  padding: 10px 24px;
  color: rgb(255, 255, 255);
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(#FF00D2), color-stop(105.95%, #FF0900));
  background: linear-gradient(360deg, #FF00D2 0%, #FF0900 105.95%);
  border: 2px solid rgb(67, 10, 0);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(67, 10, 0);
          box-shadow: 0px 4px 0px 0px rgb(67, 10, 0);
}

.label-4 svg use {
  fill: #fff;
}

@media (min-width: 992.98px) {
  .textBanner__t2 {
    font-size: 48px !important;
    line-height: 56px !important;
  }
}