:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -50px;
  --x1_top_600: -18px;
  --x2_inset: -86px;
  --x2_top: -46px;
  --x2_inset_600: -42px;
  --x2_top_600: -16px;
  --money_inset: 102px;
  --money_top: -80px;
  --money_inset_md2: 17px;
  --money_top_md2: -86px;
  --money_inset_600: 25px;
  --money_top_600: -50px;
}

.btn_primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#FE4C6C), to(#B7091A));
  background: linear-gradient(180deg, #FE4C6C 0%, #B7091A 100%);
  border: 2px solid rgb(255, 217, 3);
  color: rgb(255, 224, 42);
  padding: 10px 24px;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FE4C6C), to(#B7091A));
  background: linear-gradient(180deg, #FE4C6C 0%, #B7091A 100%);
  border: 2px solid rgb(255, 217, 3);
}

.label-4 svg use {
  fill: #FFE02A;
}