:root {
  --x1_inset: -84px;
  --x1_top: -48px;
  --x1_inset_600: -38px;
  --x1_top_600: -28px;
  --x2_inset: -72px;
  --x2_top: -72px;
  --x2_inset_600: -25px;
  --x2_top_600: -50px;
  --money_inset: 20px;
  --money_top: -80px;
  --money_inset_md2: -7px;
  --money_top_md2: -86px;
  --money_inset_600: 5px;
  --money_top_600: -50px;
}

.btn_primary {
  background: rgb(198, 245, 6);
  border: 2px solid rgb(210, 2, 66);
  padding: 10px 24px;
  color: #000;
}

.btn_primary:hover {
  opacity: 0.9;
}

.label-4 {
  background: rgb(198, 245, 6);
  border: 2px solid rgb(210, 2, 66);
}

.label-4 svg use {
  fill: #000;
}

.textBanner__money2 {
  display: none;
}

.firstScreen__image {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}